<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryActivityForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="活动名称" prop="activityName">
        <el-input
          v-model="queryParams.activityName"
          placeholder="请输入活动名称"
          clearable
          size="small"
          @keyup.enter.native="searchButton"
        />
      </el-form-item>
      <el-form-item label="人数上限" prop="limitPeopleNumber">
        <el-input
          v-model="queryParams.limitPeopleNumber"
          placeholder="请输入人数上限"
          clearable
          size="small"
          @keyup.enter.native="searchButton"
        />
      </el-form-item>
      <el-form-item label="活动状态" prop="state">
        <el-select
          v-model="queryParams.state"
          placeholder="活动状态"
          clearable
          size="small"
        >
          <el-option
            v-for="(item, index) in activityStateOptions"
            :key="index"
            :label="item.label"
            :value="item.value"
            :disabled="item.disabled"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="searchButton"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetSearchQuery"
          >重置</el-button
        >
      </el-form-item>
    </el-form>
    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          icon="el-icon-plus"
          size="mini"
          @click="addButton"
          >新增</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="updateButton"
          >修改</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="deleteOperation"
          >删除</el-button
        >
      </el-col>
      <!-- <el-col :span="1.5">
        <el-button
          type="warning"
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
        >导出</el-button>
      </el-col>-->
    </el-row>

    <el-table
      v-loading="loading"
      :data="activityList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="活动编号" align="center" prop="activityId" />
      <el-table-column label="活动状态" align="center" prop="state">
        <template scope="scope">
          <span v-if="scope.row.state == 1">可用</span>
          <span v-else-if="scope.row.state == 3">草稿</span>
          <span v-else-if="scope.row.state == 4">审核中</span>
          <span v-else>不可用</span>
        </template>
      </el-table-column>
      <el-table-column label="活动名称" align="center" prop="activityName" />
      <el-table-column
        label="活动图片"
        align="center"
        prop="activityPictureUrl"
      >
        <!-- 图片的显示 -->
        <template slot-scope="scope">
          <img
            :src="scope.row.activityPictureUrl"
            min-width="100"
            height="100"
          />
        </template>
      </el-table-column>
      <el-table-column
        label="人数上限"
        align="center"
        prop="limitPeopleNumber"
      />
      <el-table-column label="审核结果" align="center" prop="activityAudit" />
      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="updateButton(scope.row)"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="deleteOperation(scope.row)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="listActivitiesInfo"
    />

    <el-dialog :title="title" :visible.sync="open" width="800px" append-to-body>
      <el-row>
        <el-col :xs="24" :md="12" :style="{ height: '350px' }">
          <vue-cropper
            ref="cropper"
            :img="options.img"
            :info="true"
            :autoCrop="options.autoCrop"
            :autoCropWidth="options.autoCropWidth"
            :autoCropHeight="options.autoCropHeight"
            :fixedBox="options.fixedBox"
            @realTime="realTime"
          />
        </el-col>
        <!-- <el-col :xs="24" :md="12" :style="{ height: '350px' }">
          <div class="avatar-upload-preview">
            <img :src="previews.url" :style="previews.img" />
          </div>
        </el-col> -->
      </el-row>
      <br />
      <el-row>
        <el-col :lg="2" :md="2">
          <el-upload
            action="#"
            :http-request="requestUpload"
            :show-file-list="false"
            :before-upload="beforeUpload"
          >
            <el-button size="small">
              上传
              <i class="el-icon-upload el-icon--right"></i>
            </el-button>
          </el-upload>
        </el-col>
        <el-col :lg="{ span: 1, offset: 2 }" :md="2">
          <el-button
            icon="el-icon-plus"
            size="small"
            @click="changeScale(1)"
          ></el-button>
        </el-col>
        <el-col :lg="{ span: 1, offset: 1 }" :md="2">
          <el-button
            icon="el-icon-minus"
            size="small"
            @click="changeScale(-1)"
          ></el-button>
        </el-col>
        <el-col :lg="{ span: 1, offset: 1 }" :md="2">
          <el-button
            icon="el-icon-refresh-left"
            size="small"
            @click="rotateLeft()"
          ></el-button>
        </el-col>
        <el-col :lg="{ span: 1, offset: 1 }" :md="2">
          <el-button
            icon="el-icon-refresh-right"
            size="small"
            @click="rotateRight()"
          ></el-button>
        </el-col>
        <el-col :lg="{ span: 2, offset: 6 }" :md="2">
          <el-button type="primary" size="small" @click="uploadImg()"
            >提 交</el-button
          >
        </el-col>
      </el-row>
    </el-dialog>

    <el-dialog
      v-bind="$attrs"
      v-on="$listeners"
      :title="title"
      :visible.sync="dialogVisible"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-row :gutter="15">
        <el-form
          ref="activityForm"
          :model="activityFormData"
          :rules="rules"
          size="medium"
          label-width="100px"
        >
          <el-col :span="24">
            <el-form-item label="活动编号" prop="activityId" hidden>
              <el-input
                v-model="activityFormData.activityId"
                placeholder="请输入活动编号"
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="活动名称" prop="activityName">
              <el-input
                v-model="activityFormData.activityName"
                placeholder="请输入活动名称"
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="车店信息" prop="bikeShopId">
              <el-select
                v-model="activityFormData.bikeShopId"
                placeholder="请选择车店信息"
                clearable
                :style="{ width: '100%' }"
              >
                <el-option
                  v-for="(item, index) in bikeShopOptions"
                  :key="index"
                  :label="item.bikeShopName"
                  :value="item.bikeShopId"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="领队姓名" prop="contactName">
              <el-input
                v-model="activityFormData.contactName"
                placeholder="请输入领队姓名"
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="领队微信" prop="contactWeChat">
              <el-input
                v-model="activityFormData.contactWeChat"
                placeholder="请输入领队微信号"
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="领队电话" prop="contactPhone">
              <el-input
                v-model="activityFormData.contactPhone"
                placeholder="请输入领队电话号码"
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="人数上限" prop="limitPeopleNumber">
              <el-input-number
                v-model="activityFormData.limitPeopleNumber"
                placeholder="人数上限"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="活动地点" prop="activityLocation">
              <el-input
                v-model="activityFormData.activityLocation"
                placeholder="请输入活动地点"
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="集合地点" prop="assembleLocation">
              <el-input
                v-model="activityFormData.assembleLocation"
                placeholder="请输入集合地点"
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="活动类型" prop="activityFeeType">
              <el-radio-group
                v-model="activityFormData.activityFeeType"
                size="medium"
              >
                <el-radio
                  v-for="(item, index) in activityFeeTypeOptions"
                  :key="index"
                  :label="item.value"
                  :disabled="item.disabled"
                  >{{ item.label }}</el-radio
                >
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="活动频率" prop="activityFrequency">
              <el-radio-group
                v-model="activityFormData.activityFrequency"
                @change="modifyTimeDisplay"
                size="medium"
              >
                <el-radio
                  v-for="(item, index) in activityFrequencyOptions"
                  :key="index"
                  :label="item.value"
                  :disabled="item.disabled"
                  >{{ item.label }}</el-radio
                >
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="12" v-if="isActivityDayDisplay">
            <el-form-item label="活动周期" prop="activityDay">
              <el-select
                v-model="activityFormData.activityDay"
                placeholder="请选择活动周期"
                clearable
                :style="{ width: '100%' }"
              >
                <el-option
                  v-for="(item, index) in activityTimeOptions"
                  :key="index"
                  :label="item.label"
                  :value="item.value"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12" v-if="isActivityTimeDisplay">
            <el-form-item label="时间选择" prop="activityTime">
              <el-time-picker
                v-model="activityFormData.activityTime"
                format="HH:mm:ss"
                value-format="HH:mm:ss"
                :picker-options="{ selectableRange: '00:00:00-23:59:59' }"
                :style="{ width: '100%' }"
                placeholder="请选择时间"
                clearable
              ></el-time-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12" v-if="isBeginTimeDisplay">
            <el-form-item label="活动开始" prop="activityBeginTime">
              <el-date-picker
                type="datetime"
                v-model="activityFormData.activityBeginTime"
                format="yyyy-MM-dd HH:mm:ss"
                value-format="yyyy-MM-dd HH:mm:ss"
                :style="{ width: '100%' }"
                placeholder="请选择时间活动开始时间"
                clearable
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12" v-if="isEndTimeDisplay">
            <el-form-item label="活动结束" prop="activityEndTime">
              <el-date-picker
                type="datetime"
                v-model="activityFormData.activityEndTime"
                format="yyyy-MM-dd HH:mm:ss"
                value-format="yyyy-MM-dd HH:mm:ss"
                :style="{ width: '100%' }"
                placeholder="请选择时间活动结束时间"
                clearable
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="报名截止" prop="signUpEndTime">
              <el-date-picker
                type="datetime"
                v-model="activityFormData.signUpEndTime"
                format="yyyy-MM-dd HH:mm:ss"
                value-format="yyyy-MM-dd HH:mm:ss"
                :style="{ width: '100%' }"
                placeholder="请选择时间报名截止时间"
                clearable
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <!-- <el-col :span="12">
            <el-form-item label="集合时间" prop="assembleTime">
              <el-date-picker
                type="datetime"
                v-model="activityFormData.assembleTime"
                format="yyyy-MM-dd HH:mm:ss"
                value-format="yyyy-MM-dd HH:mm:ss"
                :style="{ width: '100%' }"
                placeholder="请选择集合时间"
                clearable
              ></el-date-picker>
            </el-form-item>
          </el-col> -->
          <!-- <el-col :span="12">
            <el-form-item label="领队信息" prop="leaderId">
              <el-select
                v-model="activityFormData.leaderId"
                placeholder="请选择领队信息"
                clearable
                :style="{width: '100%'}"
              >
                <el-option
                  v-for="(item, index) in leaderOptions"
                  :key="index"
                  :label="item.leaderName"
                  :value="item.leaderId"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>-->
          <el-col :span="12">
            <el-form-item label="路线类型" prop="activityType" hidden>
              <el-select
                v-model="activityFormData.activityType"
                placeholder="请选择路线类型"
                clearable
                :style="{ width: '100%' }"
              >
                <el-option
                  v-for="(item, index) in activityTypeOptions"
                  :key="index"
                  :label="item.label"
                  :value="item.value"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="活动城市" prop="cityType">
              <el-select
                v-model="activityFormData.cityType"
                placeholder="请选择活动城市"
                clearable
                :style="{ width: '100%' }"
              >
                <el-option
                  v-for="(item, index) in cityTypeOptions"
                  :key="index"
                  :label="item.cityNameCH"
                  :value="item.cityId"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-divider></el-divider>
            <!-- <el-form-item label="后勤保障" prop="activityLogistics">
              <el-select
                v-model="activityFormData.activityLogistics"
                placeholder="请选择活动后勤保障"
                multiple
                filterable
                clearable
                :style="{width: '100%'}"
              >
                <el-option
                  v-for="(item, index) in activityLogisticsOptions"
                  :key="index"
                  :label="item.logisticsName"
                  :value="item.logisticsId"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>-->
          </el-col>
          <el-col :span="12">
            <el-form-item label="骑行距离" prop="rideDistance">
              <el-input-number
                v-model="activityFormData.rideDistance"
                placeholder="总距离(单位：KM)"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="骑行时长" prop="rideTimeLong">
              <el-input-number
                v-model="activityFormData.rideTimeLong"
                placeholder="总时长(单位：H)"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="骑行地形" prop="rideTerrain">
              <el-radio-group
                v-model="activityFormData.rideTerrain"
                size="medium"
              >
                <el-radio
                  v-for="(item, index) in rideTerrainOptions"
                  :key="index"
                  :label="item.value"
                  :disabled="item.disabled"
                  >{{ item.label }}</el-radio
                >
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="骑行车型" prop="rideBikeType">
              <el-radio-group
                v-model="activityFormData.rideBikeType"
                size="medium"
              >
                <el-radio
                  v-for="(item, index) in rideBikeTypeOptions"
                  :key="index"
                  :label="item.value"
                  :disabled="item.disabled"
                  >{{ item.label }}</el-radio
                >
              </el-radio-group>
            </el-form-item>
          </el-col>
          <!-- <el-col :span="12">
            <el-form-item label="难度系数" prop="rate">
              <el-rate v-model="activityFormData.rate" allow-half show-text></el-rate>
            </el-form-item>
          </el-col>-->
          <el-col :span="24">
            <el-form-item
              prop="activityPictureUrl"
              style="margin-bottom: 30px"
              label="封面图片"
            >
              <img
                v-bind:src="options.img"
                @click="editCropper()"
                title="点击上传图片"
                class="img-circle img-lg"
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              prop="activityDescription"
              style="margin-bottom: 30px"
              label="活动详情"
            >
              <quill-editor
                ref="text"
                v-model="activityFormData.activityDescription"
                class="myQuillEditor"
                :options="editorOption"
              />
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <div slot="footer">
        <el-button @click="cancelButton">取消</el-button>
        <el-button type="primary" @click="confirmButton">确定</el-button>
        <el-button type="info" @click="saveDraftButton">存为草稿</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  listActivities,
  deleteActivities,
  getActivityById,
  updateActivity,
  addActivity,
  addActivityDraft,
  selectLeaderDropdownList,
  selectBikeShopDropdownList,
  selectLogisticsDropdownList,
  selectCityNationwideDropdownList,
} from "@/api/activity";
import { quillEditor } from "vue-quill-editor";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import { VueCropper } from "vue-cropper";
import { uploadPicture } from "@/api/uploadPicture";
export default {
  created() {
    // this.getLeaderOptions();
    this.getBikeShopOptions();
    this.getActivityLogisticsOptions();
    this.getCityTypeOptions();
  },
  components: {
    quillEditor,
    VueCropper,
  },
  data() {
    return {
      isActivityDayDisplay: false,
      isActivityTimeDisplay: false,
      isBeginTimeDisplay: true,
      isEndTimeDisplay: true,
      // 是否显示弹出层
      open: false,
      // 弹出层标题
      title: "裁切头像",
      options: {
        img: "https://images.club100.cn/default_upload_picture.jpg", //裁剪图片的地址
        autoCrop: true, // 是否默认生成截图框
        autoCropWidth: 375, // 默认生成截图框宽度
        autoCropHeight: 210, // 默认生成截图框高度
        fixedBox: true, // 固定截图框大小 不允许改变
      },
      previews: {},
      editorOption: {
        placeholder: "请输入活动详情...",
        modules: {
          toolbar: [],
        },
      },
      queryParams: { pageNum: 1, pageSize: 10 },
      activityList: [],
      loading: false,
      title: "",
      total: 0,
      pageNum: 1,
      dialogVisible: false,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      activityFormData: {
        activityId: "",
        activityName: "",
        contactName: "",
        contactWeChat: "",
        contactPhone: "",
        limitPeopleNumber: undefined,
        activityLocation: "",
        assembleLocation: "",
        activityFeeType: "",
        activityFrequency: "",
        activityDay: "",
        activityTime: null,
        activityBeginTime: null,
        activityEndTime: null,
        signUpEndTime: null,
        // assembleTime: null,
        // leaderId: "",
        bikeShopId: "",
        activityType: 1,
        // activityLogistics: [],
        cityType: "",
        rideDistance: undefined,
        rideTimeLong: undefined,
        rideTerrain: "",
        rideBikeType: "",
        rate: 0,
        activityDescription: "",
      },
      rules: {
        activityId: [],
        activityName: [
          {
            required: true,
            message: "请输入活动名称",
            trigger: "blur",
          },
        ],
        contactName: [
          {
            required: true,
            message: "请输入领队姓名",
            trigger: "blur",
          },
        ],
        contactWeChat: [
          {
            required: true,
            message: "请输入领队微信号",
            trigger: "blur",
          },
        ],
        contactPhone: [],
        limitPeopleNumber: [
          {
            required: true,
            message: "请输入人数上限",
            trigger: "blur",
          },
          {
            pattern: /^[1-9]\d*$/,
            message: "请输入0-9数字",
            trigger: "blur",
          },
        ],
        activityLocation: [
          {
            required: true,
            message: "请输入活动地点",
            trigger: "blur",
          },
        ],
        assembleLocation: [
          {
            required: true,
            message: "请输入集合地点",
            trigger: "blur",
          },
        ],
        activityFeeType: [
          {
            required: true,
            message: "活动类型不能为空",
            trigger: "change",
          },
        ],
        activityFrequency: [
          {
            required: true,
            message: "活动频率不能为空",
            trigger: "change",
          },
        ],
        activityDay: [
          {
            required: true,
            message: "请选择活动周期",
            trigger: "change",
          },
        ],
        activityTime: [
          {
            required: true,
            message: "请选择时间",
            trigger: "change",
          },
        ],
        activityBeginTime: [
          {
            required: true,
            message: "请选择活动开始时间",
            trigger: "change",
          },
        ],
        activityEndTime: [
          {
            required: true,
            message: "请选择活动结束时间",
            trigger: "change",
          },
        ],
        signUpEndTime: [
          {
            required: true,
            message: "请选择报名截止时间",
            trigger: "change",
          },
        ],
        // assembleTime: [
        //   {
        //     required: true,
        //     message: "请选择集合时间",
        //     trigger: "change",
        //   },
        // ],
        // leaderId: [
        //   {
        //     required: true,
        //     message: "请选择领队信息",
        //     trigger: "change"
        //   }
        // ],
        bikeShopId: [
          {
            required: true,
            message: "请选择车店信息",
            trigger: "change",
          },
        ],
        activityType: [
          {
            required: true,
            message: "请选择路线类型",
            trigger: "change",
          },
        ],
        // activityLogistics: [
        //   {
        //     required: true,
        //     type: "array",
        //     message: "请至少选择一个后勤保障项目",
        //     trigger: "change"
        //   }
        // ],
        cityType: [
          {
            required: true,
            message: "请选择活动城市",
            trigger: "change",
          },
        ],
        rideDistance: [
          {
            required: true,
            message: "请输入骑行距离",
            trigger: "blur",
          },
          {
            pattern: /^[0-9]+([.]{1}[0-9]+){0,1}$/,
            message: "请输入整数或小数数字",
            trigger: "blur",
          },
        ],
        rideTimeLong: [
          {
            required: true,
            message: "请输入骑行时长",
            trigger: "blur",
          },
          {
            pattern: /^[0-9]+([.]{1}[0-9]+){0,1}$/,
            message: "请输入整数或小数数字",
            trigger: "blur",
          },
        ],
        rideTerrain: [
          {
            required: true,
            message: "骑行地形不能为空",
            trigger: "change",
          },
        ],
        rideBikeType: [
          {
            required: true,
            message: "骑行车型不能为空",
            trigger: "change",
          },
        ],
        rate: [
          {
            required: true,
            message: "难度系数不能为空",
            trigger: "change",
          },
        ],
        activityDescription: [],
      },
      activityFeeTypeOptions: [
        {
          label: "免费",
          value: 1,
        },
        {
          label: "收费（可线上支付）",
          value: 2,
        },
        {
          label: "收费（需线下支付）",
          value: 3,
        },
      ],
      activityFrequencyOptions: [
        {
          label: "单次",
          value: 1,
        },
        {
          label: "每周",
          value: 2,
        },
      ],
      activityStateOptions: [
        {
          label: "可用",
          value: 1,
        },
        {
          label: "不可用",
          value: 2,
        },
        {
          label: "草稿",
          value: 3,
        },
        {
          label: "审核中",
          value: 4,
        },
      ],
      activityLogisticsOptions: [],
      rideTerrainOptions: [
        {
          label: "平路",
          value: 1,
        },
        {
          label: "起伏",
          value: 2,
        },
        {
          label: "爬坡",
          value: 3,
        },
      ],
      rideBikeTypeOptions: [
        {
          label: "公路",
          value: 1,
        },
        {
          label: "山地",
          value: 2,
        },
        {
          label: "小折",
          value: 3,
        },
        {
          label: "不限",
          value: 4,
        },
      ],
      // leaderOptions: [],
      bikeShopOptions: [],
      activityTypeOptions: [
        {
          label: "骑游",
          value: 1,
        },
      ],
      // 城市数据
      cityTypeOptions: [],
      activityTimeOptions: [
        {
          label: "每周一",
          value: 1,
        },
        {
          label: "每周二",
          value: 2,
        },
        {
          label: "每周三",
          value: 3,
        },
        {
          label: "每周四",
          value: 4,
        },
        {
          label: "每周五",
          value: 5,
        },
        {
          label: "每周六",
          value: 6,
        },
        {
          label: "每周日",
          value: 7,
        },
      ],
    };
  },
  mounted() {
    this.listActivitiesInfo();
  },
  methods: {
    modifyTimeDisplay: function (val) {
      if (1 == val) {
        // 单次。
        this.isActivityDayDisplay = false;
        this.isActivityTimeDisplay = false;
        this.isBeginTimeDisplay = true;
        this.isEndTimeDisplay = true;
        this.activityFormData.activityBeginTime = null;
        this.activityFormData.activityEndTime = null;
        this.activityFormData.activityDay = "0";
        this.activityFormData.activityTime = "00:00:00";
      } else if (2 == val) {
        // 每周。
        this.isActivityDayDisplay = true;
        this.isActivityTimeDisplay = true;
        this.isBeginTimeDisplay = false;
        this.isEndTimeDisplay = false;
        this.activityFormData.activityDay = null;
        this.activityFormData.activityTime = null;
        this.activityFormData.activityBeginTime = "2991-12-24 00:00:00";
        this.activityFormData.activityEndTime = "2991-12-25 00:00:00";
      } else {
        alert("Error...");
      }
    },
    // 编辑头像
    editCropper() {
      this.open = true;
    },
    // 覆盖默认的上传行为
    requestUpload() {},
    // 向左旋转
    rotateLeft() {
      this.$refs.cropper.rotateLeft();
    },
    // 向右旋转
    rotateRight() {
      this.$refs.cropper.rotateRight();
    },
    // 图片缩放
    changeScale(num) {
      num = num || 1;
      this.$refs.cropper.changeScale(num);
    },
    // 上传预处理
    beforeUpload(file) {
      if (file.type.indexOf("image/") == -1) {
        this.msgError("文件格式错误，请上传图片类型,如：JPG，PNG后缀的文件。");
      } else {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => {
          this.options.img = reader.result;
        };
      }
    },
    // 上传图片
    uploadImg() {
      this.$refs.cropper.getCropBlob((data) => {
        var formData = new FormData();
        formData.append("file", data);
        uploadPicture(formData).then((response) => {
          this.activityFormData.activityPictureUrl = response;
          this.open = false;
        });
      });
    },
    // 实时预览
    realTime(data) {
      this.previews = data;
    },
    listActivitiesInfo() {
      this.loading = true;
      listActivities(this.queryParams).then((res) => {
        this.activityList = res.rows;
        this.total = res.total;
        this.loading = false;
      });
    },
    getCityTypeOptions() {
      selectCityNationwideDropdownList().then((res) => {
        this.cityTypeOptions = res.data;
      });
    },
    /** 新增按钮操作 */
    addButton() {
      this.openActivityForm();
      this.resetActivityForm();
      this.title = "添加活动";
    },
    /** 修改按钮操作 */
    updateButton(row) {
      const activityIds = row.activityId || this.ids[0];
      getActivityById(activityIds).then((response) => {
        this.openActivityForm();
        this.activityFormData = response.data;
        this.activityFormData.rideBikeType = parseInt(
          response.data.rideBikeType
        );
        this.activityFormData.rideTerrain = parseInt(response.data.rideTerrain);
        this.title = "修改活动";
        if (
          0 == this.activityFormData.activityDay ||
          null == this.activityFormData.activityDay
        ) {
          // 单次。
          this.isActivityDayDisplay = false;
          this.isActivityTimeDisplay = false;
          this.isBeginTimeDisplay = true;
          this.isEndTimeDisplay = true;
          this.activityFormData.activityDay = "0";
          this.activityFormData.activityTime = "00:00:00";
        } else {
          // 每周。
          this.isActivityDayDisplay = true;
          this.isActivityTimeDisplay = true;
          this.isBeginTimeDisplay = false;
          this.isEndTimeDisplay = false;
          this.activityFormData.activityBeginTime = "2991-12-24 00:00:00";
          this.activityFormData.activityEndTime = "2991-12-25 00:00:00";
        }
      });
    },
    /** 删除按钮操作 */
    deleteOperation(row) {
      const activityIds = row.activityId || this.ids;
      this.$confirm('是否确认删除编号为"' + activityIds + '"的数据?', "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          deleteActivities(activityIds).then((res) => {
            this.$message({
              type: "success",
              message: "删除成功!",
            });
            this.listActivitiesInfo();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    /** 搜索按钮操作 */
    searchButton() {
      this.queryParams.pageNum = 1;
      this.listActivitiesInfo();
    },
    /** 重置按钮操作 */
    resetSearchQuery() {
      this.resetForm("queryActivityForm");
      this.searchButton();
    },
    /** 多选框选中数据 */
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.activityId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 取消按钮操作 */
    cancelButton() {
      this.resetActivityForm();
      this.closeActivityForm();
    },
    /** 打开活动表单 */
    openActivityForm() {
      this.dialogVisible = true;
    },
    /** 关闭活动表单 */
    closeActivityForm() {
      this.dialogVisible = false;
    },
    /** 清空活动表单 */
    resetActivityForm() {
      this.$refs["activityForm"].resetFields();
    },
    /** 获取领队信息单选下拉框选项 */
    // getLeaderOptions() {
    //   selectLeaderDropdownList().then(res => {
    //     this.leaderOptions = res.data;
    //   });
    // },
    /** 获取车店信息单选下拉框选项 */
    getBikeShopOptions() {
      selectBikeShopDropdownList().then((res) => {
        this.bikeShopOptions = res.data;
      });
    },
    /** 获取后勤保障多选下拉框选项 */
    getActivityLogisticsOptions() {
      selectLogisticsDropdownList().then((res) => {
        this.activityLogisticsOptions = res.data;
      });
    },
    /** 保存为草稿按钮 */
    saveDraftButton() {
      addActivityDraft(this.activityFormData).then((response) => {
        if (response === 1) {
          this.msgSuccess("保存为草稿成功。");
          this.resetActivityForm();
          this.closeActivityForm();
          this.listActivitiesInfo();
        }
      });
    },
    /** 新增或更改活动信息确认按钮 */
    confirmButton() {
      if (
        !this.compareDateTime(
          this.activityFormData.activityBeginTime,
          this.activityFormData.activityEndTime
        )
      ) {
        alert("活动开始时间必须早于活动结束时间！");
        return false;
      }

      if (
        !this.compareDateTime(
          this.activityFormData.signUpEndTime,
          this.activityFormData.activityBeginTime
        )
      ) {
        alert("活动报名截止时间必须早于活动开始时间！");
        return false;
      }

      // if (
      //   !this.compareDateTime(
      //     this.activityFormData.assembleTime,
      //     this.activityFormData.activityEndTime
      //   )
      // ) {
      //   alert("活动集合时间必须早于活动结束时间！");
      //   return false;
      // }

      this.$refs["activityForm"].validate((valid) => {
        if (valid) {
          if (this.activityFormData.activityId != "") {
            updateActivity(this.activityFormData).then((response) => {
              if (response === 1) {
                this.msgSuccess("修改活动成功。");
                this.resetActivityForm();
                this.closeActivityForm();
                this.listActivitiesInfo();
              }
            });
          } else {
            addActivity(this.activityFormData).then((response) => {
              if (response === 1) {
                this.msgSuccess("添加活动成功。");
                this.resetActivityForm();
                this.closeActivityForm();
                this.listActivitiesInfo();
              }
            });
          }
        } else {
          console.log("确认失败！");
          return false;
        }
      });
    },
    /** 日期比较的方法 */
    compareDateTime(beforeDateTime, afterDateTime) {
      let beforeDateTimeDate = new Date(beforeDateTime);
      let afterDateTimeDate = new Date(afterDateTime);
      return beforeDateTimeDate.getTime() < afterDateTimeDate.getTime();
    },
  },
};
</script>
<style>
.edit_container {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.ql-editor {
  height: 200px;
}
.img-circle {
  border: 1px solid #000000;
  border-radius: 0px;
}
</style>