<template>
  <div>
    <el-form
      ref="elForm"
      :model="formData"
      :rules="rules"
      size="medium"
      label-width="100px"
    >
      <el-form-item label="上传文件" prop="uploadFile" required>
        <el-upload
          ref="uploadFile"
          :file-list="uploadFilefileList"
          :action="uploadFileAction"
          :http-request="uploadQiNiu"
          multiple
          :before-upload="uploadFileBeforeUpload"
          accept="image/*"
        >
          <el-button size="small" type="primary" icon="el-icon-upload"
            >点击上传</el-button
          >
          <div slot="tip" class="el-upload__tip">
            只能上传不超过 2MB 的image/*文件
          </div>
        </el-upload>
      </el-form-item>
      <!-- <el-form-item size="large">
        <el-button type="primary" @click="submitForm">提交</el-button>
        <el-button @click="resetForm">重置</el-button>
      </el-form-item> -->
    </el-form>
  </div>
</template>
<script>
import { getToken, uploadFile } from "@/api/qiniu";
import axios from "axios";
export default {
  components: {},
  props: [],
  data() {
    return {
      uploadFile: null,
      uploadFileName: "",
      uploadToken: "",
      tempUrl: "",
      dataObj: { token: "" },
      loading: false,
      formData: {
        uploadFile: null,
      },
      rules: {},
      uploadFileAction: "https://upload-z2.qiniup.com",
      uploadFilefileList: [],
    };
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {},
  methods: {
    submitForm() {
      this.$refs["elForm"].validate((valid) => {
        if (!valid) return;
        // TODO 提交表单
      });
    },
    resetForm() {
      this.$refs["elForm"].resetFields();
    },
    // 上传文件到七牛云
    uploadQiNiu(req) {
      var randomFileName =
        this.getRandomValue() + "." + this.getFileSuffix(this.uploadFile.name);

        console.log("randomFileName: " + randomFileName);

      const formdata = new FormData();
      formdata.append("file", this.uploadFile);
      formdata.append("token", this.uploadToken);
      formdata.append("key", randomFileName);

      // 获取到凭证之后再将文件上传到七牛云空间
      uploadFile(formdata)
        .then((response) => {
          console.log(response);
        })
        .catch((err) => {
          console.log(err);
        });

      // console.log(req)
      // const config = {
      //   headers: {'Content-Type': 'multipart/form-data'}
      // }
      // let filetype = ''
      // if (req.file.type === 'image/png') {
      //   filetype = 'png'
      // } else {
      //   filetype = 'jpg'
      // }
      // // 重命名要上传的文件
      // const keyname = 'lytton' + new Date() + Math.floor(Math.random() * 100) + '.' + filetype
      // // 从后端获取上传凭证token
      // this.axios.get('/up/token').then(res => {
      //   console.log(res)
      //   const formdata = new FormData()
      //   formdata.append('file', req.file)
      //   formdata.append('token', res.data)
      //   formdata.append('key', keyname)
      //   // 获取到凭证之后再将文件上传到七牛云空间
      //   this.axios.post(this.domain, formdata, config).then(res => {
      //     this.imageUrl = 'http://' + this.qiniuaddr + '/' + res.data.key
      //     // console.log(this.imageUrl)
      //   })
      // })
    },
    uploadFileBeforeUpload(file) {
      let isRightSize = file.size / 1024 / 1024 < 2;
      if (!isRightSize) {
        this.$message.error("文件大小超过 2MB");
      }
      let isAccept = new RegExp("image/*").test(file.type);
      if (!isAccept) {
        this.$message.error("应该选择image/*类型的文件");
      }

      this.loading = true;
      const _self = this;
      return new Promise((resolve, reject) => {
        getToken()
          .then((response) => {
            console.log(response);
            // const key = response.data.qiniu_key;
            const token = response.data.token;
            console.log("token is: " + token);
            _self.dataObj.token = token;
            this.tempUrl = "https://images.club100.cn/" + response.key;
            resolve(true);

            this.uploadFile = file;
            this.uploadToken = token;

            // const config = {
            //   headers: { "Content-Type": "multipart/form-data" },
            // };

            // axios({
            //   method: "post",
            //   url: "https://upload-z2.qiniup.com" + formdata,
            //   // responseType: "blob",
            //   headers: { "Content-Type": "multipart/form-data" },
            // }).then((res) => {
            //   console.log("res: " + res);
            // });

            // this.axios
            //   .post("https://upload-z2.qiniup.com", formdata, config)
            //   .then((res) => {
            //     console.log("res: " + res);
            //     // this.imageUrl = "http://" + this.qiniuaddr + "/" + res.data.key;
            //     // console.log(this.imageUrl)
            //   });
          })
          .catch((err) => {
            console.log(err);
            reject(false);
          });
      });

      return isRightSize && isAccept;
    },
    getRandomValue() {
      var mydate = new Date();
      var uuid =
        mydate.getDay() +
        mydate.getHours() +
        mydate.getMinutes() +
        mydate.getSeconds() +
        mydate.getMilliseconds() +
        Math.round(Math.random() * 10000);
      var randomNumbers = (((1 + Math.random()) * 0x10000) | 0)
        .toString(16)
        .substring(1);
      return uuid + "_" + randomNumbers + "_" + randomNumbers + "_" + randomNumbers;
    },
    getFileSuffix(filePathOrName) {
      // 传入的参数为文件路径或者文件名。
      // 获取最后一个.的位置。
      var index = filePathOrName.lastIndexOf(".");
      // 获取文件路径或者文件名的后缀。
      var fileSuffix = filePathOrName.substr(index + 1);
      return fileSuffix;
    },
  },
};
</script>
<style>
.el-upload__tip {
  line-height: 1.2;
}
</style>
