<template>
  <div class="app-container">
    <!-- <el-form :model="queryParams" ref="queryClubForm" :inline="true" label-width="68px">
      <el-form-item label="活动名称" prop="bikeShopName">
        <el-input
          v-model="queryParams.bikeShopName"
          placeholder="请输入活动名称"
          clearable
          size="small"
          @keyup.enter.native="searchButton"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="searchButton">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetSearchQuery">重置</el-button>
      </el-form-item>
    </el-form>-->
    <el-row
      :gutter="10"
      class="mb8"
      v-loading.fullscreen.lock="fullscreenLoading"
      >
      
      <el-col :span="1.5">
        <el-button
          type="primary"
          icon="el-icon-plus"
          size="mini"
          @click="addButton"
          >新增</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="updateButton"
          >修改</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="deleteOperation"
          >删除</el-button
        >
      </el-col>
    </el-row>

    <el-table
      v-loading="loading"
      :data="activityRouteList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column
        label="活动路线编号"
        align="center"
        prop="activityRouteId"
      />
      <el-table-column label="活动名称" align="center" prop="activityName" />
      <el-table-column label="第N天路线" align="center" prop="routeDayN" />
      <el-table-column
        label="GPX 文件链接"
        align="center"
        prop="routeGpxFileUrl"
      />
      <el-table-column
        label="路线距离(KM)"
        align="center"
        prop="routeDistance"
      />
      <el-table-column label="路线爬升(M)" align="center" prop="routeClimb" />
      <el-table-column
        label="路线难度"
        align="center"
        prop="routeDifficultyLevel"
      />
      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="updateButton(scope.row)"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="deleteOperation(scope.row)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="listActivityRouteInfo"
    />
    <el-dialog
      v-bind="$attrs"
      v-on="$listeners"
      :title="title"
      :visible.sync="dialogVisible"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-row :gutter="15">
        <el-form
          ref="activityRouteForm"
          :model="activityRouteFormData"
          :rules="rules"
          size="medium"
          label-width="100px"
        >
          <el-col :span="12">
            <el-form-item label="活动路线编号" prop="activityRouteId" hidden>
              <el-input
                v-model="activityRouteFormData.activityRouteId"
                placeholder="请输入活动编号"
                readonly
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="活动名称" prop="activityId">
              <el-select
                v-model="activityRouteFormData.activityId"
                placeholder="请选择活动名称"
                clearable
                :style="{ width: '100%' }"
              >
                <el-option
                  v-for="(item, index) in activityOptions"
                  :key="index"
                  :label="item.activityName"
                  :value="item.activityId"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="路线天数" prop="routeDayN">
              <el-input-number
                v-model="activityRouteFormData.routeDayN"
                placeholder="请输入整数天数"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="上传 GPX" prop="uploadFile">
              <el-upload
                v-model="activityRouteFormData.routeGpxFileUrl"
                ref="uploadFile"
                :file-list="uploadFilefileList"
                :action="uploadFileAction"
                :before-upload="uploadFileBeforeUpload"
                :http-request="uploadQiNiu"
              >
                <el-button size="small" type="primary" icon="el-icon-upload"
                  >点击上传</el-button
                >
                <div slot="tip" class="el-upload__tip">
                  请先选择活动名称，只能上传不超过 10MB 的文件
                </div>
              </el-upload>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="路线距离" prop="routeDistance">
              <el-input-number
                v-model="activityRouteFormData.routeDistance"
                placeholder="路线距离(单位：KM)"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="路线爬升" prop="routeClimb">
              <el-input-number
                v-model="activityRouteFormData.routeClimb"
                placeholder="路线爬升(单位：M)"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <div slot="footer">
        <el-button @click="cancelButton">取消</el-button>
        <el-button type="primary" @click="confirmButton">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  listActivityRoute,
  deleteActivityRoute,
  updateActivityRoute,
  getActivityRouteById,
  addActivityRoute,
  selectActivityDropdownList,
} from "@/api/activityRoute";
import { getToken, uploadFile } from "@/api/qiniu";
export default {
  created() {
    this.getActivityOptions();
  },
  components: {},
  data() {
    return {
      uploadFile: null,
      uploadFileName: "",
      uploadToken: "",
      tempUrl: "",
      dataObj: { token: "" },
      uploadFileAction: "https://upload-z2.qiniup.com",
      uploadFilefileList: [],
      queryParams: { pageNum: 1, pageSize: 10 },
      activityRouteList: [],
      loading: false,
      fullscreenLoading: false,
      title: "",
      total: 0,
      pageNum: 1,
      dialogVisible: false,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      activityRouteFormData: {
        activityRouteId: "",
        activityId: "",
        routeDayN: undefined,
        routeDistance: undefined,
        routeClimb: undefined,
      },
      rules: {
        activityRouteId: [],
        activityId: [
          {
            required: true,
            message: "请选择活动名称",
            trigger: "change",
          },
        ],
        routeDayN: [
          {
            required: true,
            message: "请输入路线天数（整数）",
            trigger: "blur",
          },
          {
            pattern: /^[1-9]\d*$/,
            message: "请输入0-9数字",
            trigger: "blur",
          },
        ],
        routeDistance: [
          {
            pattern: /^[0-9]+([.]{1}[0-9]+){0,1}$/,
            message: "请输入整数或小数数字",
            trigger: "blur",
          },
        ],
        routeClimb: [
          {
            pattern: /^[0-9]+([.]{1}[0-9]+){0,1}$/,
            message: "请输入整数或小数数字",
            trigger: "blur",
          },
        ],
      },
      activityOptions: [],
    };
  },
  mounted() {
    this.listActivityRouteInfo();
  },
  methods: {
    submitForm() {
      this.$refs["elForm"].validate((valid) => {
        if (!valid) return;
        // TODO 提交表单
      });
    },
    resetForm() {
      this.$refs["elForm"].resetFields();
    },
    // 上传七牛云前的校验。
    uploadFileBeforeUpload(file) {
      let isRightSize = file.size / 1024 / 1024 < 10;
      if (!isRightSize) {
        this.$message.error("文件大小超过 10MB");
      }

      const _self = this;
      return new Promise((resolve, reject) => {
        getToken()
          .then((response) => {
            console.log(response);
            const token = response.data.token;
            console.log("token is: " + token);
            _self.dataObj.token = token;
            this.tempUrl = "https://images.club100.cn/" + response.key;
            resolve(true);
            this.uploadFile = file;
            this.uploadToken = token;
          })
          .catch((err) => {
            console.log(err);
            reject(false);
          });
      });
      return isRightSize;
      // return isRightSize && isAccept;
    },
    // 上传文件到七牛云。
    uploadQiNiu(req) {
      var randomFileName =
        this.getRandomValue() + "." + this.getFileSuffix(this.uploadFile.name);

      console.log("randomFileName: " + randomFileName);

      const formdata = new FormData();
      formdata.append("file", this.uploadFile);
      formdata.append("token", this.uploadToken);
      formdata.append("key", randomFileName);

      // 获取到凭证之后再将文件上传到七牛云空间。
      uploadFile(formdata)
        .then((response) => {
          console.log(response);

          var tempArray = [];
          tempArray.push("https://images.club100.cn/" + randomFileName);
          this.activityRouteFormData.routeGpxFileUrl =
            "https://images.club100.cn/" + randomFileName;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getRandomValue() {
      var mydate = new Date();
      var uuid =
        mydate.getDay() +
        mydate.getHours() +
        mydate.getMinutes() +
        mydate.getSeconds() +
        mydate.getMilliseconds() +
        Math.round(Math.random() * 10000);
      var randomNumbers1 = (((1 + Math.random()) * 0x10000) | 0)
        .toString(16)
        .substring(1);
      var randomNumbers2 = (((1 + Math.random()) * 0x10000) | 0)
        .toString(16)
        .substring(1);
      var randomNumbers3 = (((1 + Math.random()) * 0x10000) | 0)
        .toString(16)
        .substring(1);
      return (
        uuid +
        "_" +
        randomNumbers1 +
        "_" +
        randomNumbers2 +
        "_" +
        randomNumbers3
      );
    },
    getFileSuffix(filePathOrName) {
      // 传入的参数为文件路径或者文件名。
      // 获取最后一个.的位置。
      var index = filePathOrName.lastIndexOf(".");
      // 获取文件路径或者文件名的后缀。
      var fileSuffix = filePathOrName.substr(index + 1);
      return fileSuffix;
    },
    listActivityRouteInfo() {
      this.loading = true;
      listActivityRoute(this.queryParams).then((res) => {
        this.activityRouteList = res.rows;
        this.total = res.total;
        this.loading = false;
      });
    },
    /** 新增按钮操作 */
    addButton() {
      this.openActivityRouteForm();
      this.resetActivityRouteForm();
      this.title = "添加活动路线";
      this.uploadFilefileList = [];
    },
    /** 修改按钮操作 */
    updateButton(row) {
      const activityRouteIds = row.activityRouteId || this.ids[0];
      getActivityRouteById(activityRouteIds).then((response) => {
        console.log(response);
        this.openActivityRouteForm();
        this.activityRouteFormData = response.data;
        this.title = "修改活动路线";
      });
    },
    /** 删除按钮操作 */
    deleteOperation(row) {
      const activityRouteIds = row.activityRouteId || this.ids;
      this.$confirm(
        '是否确认删除编号为"' + activityRouteIds + '"的数据?',
        "提示",
        {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        }
      )
        .then(() => {
          deleteActivityRoute(activityRouteIds).then((res) => {
            this.$message({
              type: "success",
              message: "删除成功!",
            });
            this.listActivityRouteInfo();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    /** 搜索按钮操作 */
    // searchButton() {
    //   this.queryParams.pageNum = 1;
    //   this.listActivityRouteInfo();
    // },
    /** 重置按钮操作 */
    // resetSearchQuery() {
    //   this.resetForm("queryClubForm");
    //   this.searchButton();
    // },
    /** 多选框选中数据 */
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.activityRouteId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 取消按钮操作 */
    cancelButton() {
      this.resetActivityRouteForm();
      this.closeActivityRouteForm();
    },
    /** 打开活动路线表单 */
    openActivityRouteForm() {
      this.dialogVisible = true;
    },
    /** 关闭活动路线表单 */
    closeActivityRouteForm() {
      this.dialogVisible = false;
    },
    /** 清空活动路线表单 */
    resetActivityRouteForm() {
      this.$refs["activityRouteForm"].resetFields();
    },
    /** 新增或更改活动路线信息确认按钮 */
    confirmButton() {
      this.$refs["activityRouteForm"].validate((valid) => {
        if (valid) {
          this.loading = true;
          this.fullscreenLoading = true;
          if (this.activityRouteFormData.activityRouteId != "") {
            updateActivityRoute(this.activityRouteFormData).then((response) => {
              if (response >= 1) {
                this.msgSuccess("修改活动路线成功。");
                this.resetActivityRouteForm();
                this.closeActivityRouteForm();
                this.listActivityRouteInfo();
              }
            });
          } else {
            addActivityRoute(this.activityRouteFormData).then((response) => {
              if (response >= 1) {
                this.msgSuccess("添加活动路线成功。");
                this.resetActivityRouteForm();
                this.closeActivityRouteForm();
                this.listActivityRouteInfo();
              }
            });
          }
          setTimeout(() => {
            this.fullscreenLoading = false;
            this.loading = false;
          }, 1500);
        } else {
          console.log("确认失败！");
          return false;
        }
      });
    },
    /** 获取活动单选下拉框选项 */
    getActivityOptions() {
      selectActivityDropdownList().then((res) => {
        this.activityOptions = res.data;
      });
    },
  },
};
</script>