<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryClubForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="车店名称" prop="bikeShopName">
        <el-input
          v-model="queryParams.bikeShopName"
          placeholder="请输入车店名称"
          clearable
          size="small"
          @keyup.enter.native="searchButton"
        />
      </el-form-item>
      <el-form-item label="联系方式" prop="bikeShopContact">
        <el-input
          v-model="queryParams.bikeShopContact"
          placeholder="请输入联系方式"
          clearable
          size="small"
          @keyup.enter.native="searchButton"
        />
      </el-form-item>
      <el-form-item label="车店状态" prop="state">
        <el-select
          v-model="queryParams.state"
          placeholder="车店状态"
          clearable
          size="small"
        >
          <el-option
            v-for="(item, index) in clubStateOptions"
            :key="index"
            :label="item.label"
            :value="item.value"
            :disabled="item.disabled"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="searchButton"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetSearchQuery"
          >重置</el-button
        >
      </el-form-item>
    </el-form>
    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          icon="el-icon-plus"
          size="mini"
          @click="addButton"
          >新增</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="updateButton"
          >修改</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="deleteOperation"
          >删除</el-button
        >
      </el-col>
      <!-- <el-col :span="1.5">
        <el-button
          type="warning"
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
        >导出</el-button>
      </el-col>-->
    </el-row>

    <el-table
      v-loading="loading"
      :data="clubList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="车店编号" align="center" prop="bikeShopId" />
      <el-table-column label="车店状态" align="center" prop="state">
        <template scope="scope">
          <span v-if="scope.row.state == 1">可用</span>
          <span v-else>不可用</span>
        </template>
      </el-table-column>
      <el-table-column label="车店名称" align="center" prop="bikeShopName" />
      <el-table-column label="车店头像" align="center" prop="bikeShopAvatarUrl">
        <!-- 图片的显示 -->
        <template slot-scope="scope">
          <img
            :src="scope.row.bikeShopAvatarUrl"
            min-width="100"
            height="100"
          />
        </template>
      </el-table-column>
      <el-table-column
        label="车店图片"
        align="center"
        prop="bikeShopPictureUrl"
      >
        <!-- 图片的显示 -->
        <template slot-scope="scope">
          <img
            :src="scope.row.bikeShopPictureUrl"
            min-width="100"
            height="100"
          />
        </template>
      </el-table-column>
      <el-table-column label="车店地址" align="center" prop="bikeShopAddress" />
      <el-table-column
        label="车店联系方式"
        align="center"
        prop="bikeShopContact"
      />
      <el-table-column label="特约商户号" align="center" prop="subMchId" />
      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="updateButton(scope.row)"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="deleteOperation(scope.row)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="listClubInfo"
    />

    <el-dialog :title="title" :visible.sync="open" width="800px" append-to-body>
      <el-row>
        <el-col :xs="24" :md="12" :style="{ height: '350px' }">
          <vue-cropper
            ref="cropper"
            :img="options.img"
            :info="true"
            :autoCrop="options.autoCrop"
            :autoCropWidth="options.autoCropWidth"
            :autoCropHeight="options.autoCropHeight"
            :fixedBox="options.fixedBox"
            @realTime="realTime"
          />
        </el-col>
        <!-- <el-col :xs="24" :md="12" :style="{ height: '350px' }">
          <div class="avatar-upload-preview">
            <img :src="previews.url" :style="previews.img" />
          </div>
        </el-col> -->
      </el-row>
      <br />
      <el-row>
        <el-col :lg="2" :md="2">
          <el-upload
            action="#"
            :http-request="requestUpload"
            :show-file-list="false"
            :before-upload="beforeUpload"
          >
            <el-button size="small">
              上传
              <i class="el-icon-upload el-icon--right"></i>
            </el-button>
          </el-upload>
        </el-col>
        <el-col :lg="{ span: 1, offset: 2 }" :md="2">
          <el-button
            icon="el-icon-plus"
            size="small"
            @click="changeScale(1)"
          ></el-button>
        </el-col>
        <el-col :lg="{ span: 1, offset: 1 }" :md="2">
          <el-button
            icon="el-icon-minus"
            size="small"
            @click="changeScale(-1)"
          ></el-button>
        </el-col>
        <el-col :lg="{ span: 1, offset: 1 }" :md="2">
          <el-button
            icon="el-icon-refresh-left"
            size="small"
            @click="rotateLeft()"
          ></el-button>
        </el-col>
        <el-col :lg="{ span: 1, offset: 1 }" :md="2">
          <el-button
            icon="el-icon-refresh-right"
            size="small"
            @click="rotateRight()"
          ></el-button>
        </el-col>
        <el-col :lg="{ span: 2, offset: 6 }" :md="2">
          <el-button type="primary" size="small" @click="uploadImg()"
            >提 交</el-button
          >
        </el-col>
      </el-row>
    </el-dialog>

    <el-dialog
      v-bind="$attrs"
      v-on="$listeners"
      :title="title"
      :visible.sync="dialogVisible"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-row :gutter="15">
        <el-form
          ref="clubForm"
          :model="clubFormData"
          :rules="rules"
          size="medium"
          label-width="100px"
        >
          <el-col :span="12">
            <el-form-item label="车店编号" prop="bikeShopId" hidden>
              <el-input
                v-model="clubFormData.bikeShopId"
                placeholder="请输入车店编号"
                readonly
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="车店名称" prop="bikeShopName">
              <el-input
                v-model="clubFormData.bikeShopName"
                placeholder="请输入车店名称"
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="车店地址" prop="bikeShopAddress">
              <el-input
                v-model="clubFormData.bikeShopAddress"
                placeholder="请输入车店地址"
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="联系方式" prop="bikeShopContact">
              <el-input
                v-model="clubFormData.bikeShopContact"
                placeholder="请输入联系方式"
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="子商户号" prop="subMchId">
              <el-input
                v-model="clubFormData.subMchId"
                placeholder="请输入特约商户号"
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="车店城市" prop="cityType">
              <el-select
                v-model="clubFormData.cityType"
                placeholder="请选择车店城市"
                clearable
                :style="{ width: '100%' }"
              >
                <el-option
                  v-for="(item, index) in cityTypeOptions"
                  :key="index"
                  :label="item.cityNameCH"
                  :value="item.cityId"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="车店头像"
              prop="bikeShopAvatarUrl"
              style="margin-bottom: 30px"
            >
              车店头像，image
              <Upload
                v-model="clubFormData.bikeShopAvatarUrl"
                label="上传图片"
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="车店图片"
              prop="bikeShopPictureUrl"
              style="margin-bottom: 30px"
            >
              <img
                v-bind:src="options.img"
                @click="editCropper()"
                title="点击上传图片"
                class="img-circle img-lg"
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              prop="bikeShopProfile"
              style="margin-bottom: 30px"
              label="车店简介"
            >
              <quill-editor
                ref="text"
                v-model="clubFormData.bikeShopProfile"
                class="myQuillEditor"
                :options="editorOption"
              />
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <div slot="footer">
        <el-button @click="cancelButton">取消</el-button>
        <el-button type="primary" @click="confirmButton">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  listClubs,
  deleteClubs,
  updateClub,
  getClubById,
  addClub,
  selectCityDropdownList,
} from "@/api/club";
import { quillEditor } from "vue-quill-editor";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import Upload from "@/components/Upload/SingleImage";
import { VueCropper } from "vue-cropper";
import { uploadPicture } from "@/api/uploadPicture";
export default {
  components: {
    quillEditor,
    Upload,
    VueCropper,
  },
  data() {
    return {
      // 是否显示弹出层
      open: false,
      // 弹出层标题
      title: "裁切头像",
      options: {
        img: "https://images.club100.cn/default_upload_picture.jpg", //裁剪图片的地址
        autoCrop: true, // 是否默认生成截图框
        autoCropWidth: 375, // 默认生成截图框宽度
        autoCropHeight: 210, // 默认生成截图框高度
        fixedBox: true, // 固定截图框大小 不允许改变
      },
      previews: {},
      editorOption: {
        placeholder: "请输入车店简介...",
        modules: {
          toolbar: [],
        },
      },
      queryParams: { pageNum: 1, pageSize: 10 },
      clubList: [],
      loading: false,
      title: "",
      total: 0,
      pageNum: 1,
      dialogVisible: false,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      clubFormData: {
        bikeShopId: "",
        bikeShopName: "",
        bikeShopAddress: "",
        bikeShopContact: "",
        subMchId: "",
        cityType: "",
      },
      rules: {
        bikeShopName: [
          {
            required: true,
            message: "请输入车店名称",
            trigger: "blur",
          },
        ],
        bikeShopAddress: [
          {
            required: true,
            message: "请输入车店地址",
            trigger: "blur",
          },
        ],
        bikeShopContact: [
          {
            required: true,
            message: "请输入联系方式",
            trigger: "blur",
          },
        ],
        subMchId: [
          {
            required: true,
            message: "请输入特约商户号",
            trigger: "blur",
          },
        ],
        cityType: [
          {
            required: true,
            message: "请选择车店城市",
            trigger: "change",
          },
        ],
      },
      clubStateOptions: [
        {
          label: "可用",
          value: 1,
        },
        {
          label: "不可用",
          value: 2,
        },
      ],
      // 城市数据
      cityTypeOptions: [],
    };
  },
  created() {
    this.getCityTypeOptions();
  },
  mounted() {
    this.listClubInfo();
  },
  methods: {
    // 编辑头像
    editCropper() {
      this.open = true;
    },
    // 覆盖默认的上传行为
    requestUpload() {},
    // 向左旋转
    rotateLeft() {
      this.$refs.cropper.rotateLeft();
    },
    // 向右旋转
    rotateRight() {
      this.$refs.cropper.rotateRight();
    },
    // 图片缩放
    changeScale(num) {
      num = num || 1;
      this.$refs.cropper.changeScale(num);
    },
    // 上传预处理
    beforeUpload(file) {
      if (file.type.indexOf("image/") == -1) {
        this.msgError("文件格式错误，请上传图片类型,如：JPG，PNG后缀的文件。");
      } else {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => {
          this.options.img = reader.result;
        };
      }
    },
    // 上传图片
    uploadImg() {
      this.$refs.cropper.getCropBlob((data) => {
        var formData = new FormData();
        formData.append("file", data);
        uploadPicture(formData).then((response) => {
          this.clubFormData.bikeShopPictureUrl = response;
          this.open = false;
        });
      });
    },
    // 实时预览
    realTime(data) {
      this.previews = data;
    },
    listClubInfo() {
      this.loading = true;
      listClubs(this.queryParams).then((res) => {
        this.clubList = res.rows;
        this.total = res.total;
        this.loading = false;
      });
    },
    getCityTypeOptions() {
      selectCityDropdownList().then((res) => {
        this.cityTypeOptions = res.data;
      });
    },
    /** 新增按钮操作 */
    addButton() {
      this.openClubForm();
      this.resetClubForm();
      this.title = "添加俱乐部";
    },
    /** 修改按钮操作 */
    updateButton(row) {
      const bikeShopIds = row.bikeShopId || this.ids[0];
      getClubById(bikeShopIds).then((response) => {
        this.openClubForm();
        this.clubFormData = response.data;
        this.title = "修改俱乐部";
      });
    },
    /** 删除按钮操作 */
    deleteOperation(row) {
      const bikeShopIds = row.bikeShopId || this.ids;
      this.$confirm('是否确认删除编号为"' + bikeShopIds + '"的数据?', "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          deleteClubs(bikeShopIds).then((res) => {
            this.$message({
              type: "success",
              message: "删除成功!",
            });
            this.listClubInfo();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    /** 搜索按钮操作 */
    searchButton() {
      this.queryParams.pageNum = 1;
      this.listClubInfo();
    },
    /** 重置按钮操作 */
    resetSearchQuery() {
      this.resetForm("queryClubForm");
      this.searchButton();
    },
    /** 多选框选中数据 */
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.bikeShopId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 取消按钮操作 */
    cancelButton() {
      this.resetClubForm();
      this.closeClubForm();
    },
    /** 打开俱乐部表单 */
    openClubForm() {
      this.dialogVisible = true;
    },
    /** 关闭俱乐部表单 */
    closeClubForm() {
      this.dialogVisible = false;
    },
    /** 清空俱乐部表单 */
    resetClubForm() {
      this.$refs["clubForm"].resetFields();
    },
    /** 新增或更改俱乐部信息确认按钮 */
    confirmButton() {
      this.$refs["clubForm"].validate((valid) => {
        if (valid) {
          if (this.clubFormData.bikeShopId != "") {
            updateClub(this.clubFormData).then((response) => {
              if (response === 1) {
                this.msgSuccess("修改俱乐部成功。");
                this.resetClubForm();
                this.closeClubForm();
                this.listClubInfo();
              }
            });
          } else {
            addClub(this.clubFormData).then((response) => {
              if (response === 1) {
                this.msgSuccess("添加俱乐部成功。");
                this.resetClubForm();
                this.closeClubForm();
                this.listClubInfo();
              }
            });
          }
        } else {
          console.log("确认失败！");
          return false;
        }
      });
    },
  },
};
</script>
<style>
.edit_container {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.ql-editor {
  height: 200px;
}
.img-circle {
  border: 1px solid #000000;
  border-radius: 0px;
}
</style>