<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryLogisticsForm"
      :inline="true"
      label-width="100px"
    >
      <el-form-item label="后勤保障名称" prop="logisticsName">
        <el-input
          v-model="queryParams.logisticsName"
          placeholder="请输入后勤保障名称"
          clearable
          size="small"
          @keyup.enter.native="searchButton"
        />
      </el-form-item>
      <el-form-item label="后勤保障状态" prop="state">
        <el-select
          v-model="queryParams.state"
          placeholder="后勤保障状态"
          clearable
          size="small"
        >
          <el-option
            v-for="(item, index) in logisticsStateOptions"
            :key="index"
            :label="item.label"
            :value="item.value"
            :disabled="item.disabled"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="searchButton"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetSearchQuery"
          >重置</el-button
        >
      </el-form-item>
    </el-form>
    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          icon="el-icon-plus"
          size="mini"
          @click="addButton"
          >新增</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="updateButton"
          >修改</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="deleteOperation"
          >删除</el-button
        >
      </el-col>
    </el-row>

    <el-table
      v-loading="loading"
      :data="logisticsList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="后勤保障编号" align="center" prop="logisticsId" />
      <el-table-column label="后勤保障状态" align="center" prop="state">
        <template scope="scope">
          <span v-if="scope.row.state == 1">可用</span>
          <span v-else>不可用</span>
        </template>
      </el-table-column>
      <el-table-column
        label="后勤保障名称"
        align="center"
        prop="logisticsName"
      />
      <el-table-column
        label="后勤保障图片"
        align="center"
        prop="logisticsPictureUrl"
      >
        <!-- 图片的显示 -->
        <template slot-scope="scope">
          <img
            :src="scope.row.logisticsPictureUrl"
            min-width="100"
            height="100"
          />
        </template>
      </el-table-column>
      <el-table-column
        label="后勤保障图片链接"
        align="center"
        prop="logisticsPictureUrl"
      />
      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="updateButton(scope.row)"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="deleteOperation(scope.row)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="listLogisticsInfo"
    />

    <el-dialog
      v-bind="$attrs"
      v-on="$listeners"
      :title="title"
      :visible.sync="dialogVisible"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-row :gutter="15">
        <el-form
          ref="logisticsForm"
          :model="logisticsFormData"
          :rules="rules"
          size="medium"
          label-width="100px"
        >
          <el-col :span="24">
            <el-form-item label="后勤编号" prop="logisticsId" hidden>
              <el-input
                v-model="logisticsFormData.logisticsId"
                placeholder="请输入后勤保障编号"
                readonly
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="后勤名称" prop="logisticsName">
              <el-input
                v-model="logisticsFormData.logisticsName"
                placeholder="请输入后勤保障名称"
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="后勤图片"
              prop="logisticsPictureUrl"
              style="margin-bottom: 30px"
            >
              后勤保障的图片，image
              <Upload
                v-model="logisticsFormData.logisticsPictureUrl"
                label="上传图片"
              />
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <div slot="footer">
        <el-button @click="cancelButton">取消</el-button>
        <el-button type="primary" @click="confirmButton">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  listLogistics,
  deleteLogistics,
  updateLogistics,
  getLogisticsById,
  addLogistics,
} from "@/api/logistics";
import Upload from "@/components/Upload/SingleImage";
export default {
  components: {
    Upload,
  },
  data() {
    return {
      queryParams: { pageNum: 1, pageSize: 10 },
      logisticsList: [],
      loading: false,
      title: "",
      total: 0,
      pageNum: 1,
      dialogVisible: false,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      logisticsFormData: {
        logisticsId: "",
        logisticsName: "",
        logisticsPictureUrl: "",
      },
      rules: {
        logisticsName: [
          {
            required: true,
            message: "请输入后勤保障名称",
            trigger: "blur",
          },
        ],
        logisticsPictureUrl: [
          {
            // required: true,
            // message: "请添加后勤保障图片",
            // trigger: "blur"
          },
        ],
      },
      logisticsStateOptions: [
        {
          label: "可用",
          value: 1,
        },
        {
          label: "不可用",
          value: 2,
        },
      ],
    };
  },
  mounted() {
    this.listLogisticsInfo();
  },
  methods: {
    listLogisticsInfo() {
      this.loading = true;
      listLogistics(this.queryParams).then((res) => {
        this.logisticsList = res.rows;
        this.total = res.total;
        this.loading = false;
      });
    },
    /** 新增按钮操作 */
    addButton() {
      this.openLogisticsForm();
      this.resetLogisticsForm();
      this.title = "添加后勤保障";
    },
    /** 修改按钮操作 */
    updateButton(row) {
      const logisticsIds = row.logisticsId || this.ids[0];
      getLogisticsById(logisticsIds).then((response) => {
        this.openLogisticsForm();
        this.logisticsFormData = response.data;
        this.title = "修改后勤保障";
      });
    },
    /** 删除按钮操作 */
    deleteOperation(row) {
      const logisticsIds = row.logisticsId || this.ids;
      this.$confirm('是否确认删除编号为"' + logisticsIds + '"的数据?', "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          deleteLogistics(logisticsIds).then((res) => {
            this.$message({
              type: "success",
              message: "删除成功!",
            });
            this.listLogisticsInfo();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    /** 搜索按钮操作 */
    searchButton() {
      this.queryParams.pageNum = 1;
      this.listLogisticsInfo();
    },
    /** 重置按钮操作 */
    resetSearchQuery() {
      this.resetForm("queryLogisticsForm");
      this.searchButton();
    },
    /** 多选框选中数据 */
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.logisticsId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 取消按钮操作 */
    cancelButton() {
      this.resetLogisticsForm();
      this.closeLogisticsForm();
    },
    /** 打开 Logistics 表单 */
    openLogisticsForm() {
      this.dialogVisible = true;
    },
    /** 关闭 Logistics 表单 */
    closeLogisticsForm() {
      this.dialogVisible = false;
    },
    /** 清空 Logistics 表单 */
    resetLogisticsForm() {
      this.$refs["logisticsForm"].resetFields();
    },
    /** 新增或更改城市信息确认按钮 */
    confirmButton() {
      this.$refs["logisticsForm"].validate((valid) => {
        if (valid) {
          if (this.logisticsFormData.logisticsId != "") {
            updateLogistics(this.logisticsFormData).then((response) => {
              if (response === 1) {
                this.msgSuccess("修改后勤保障成功。");
                this.resetLogisticsForm();
                this.closeLogisticsForm();
                this.listLogisticsInfo();
              }
            });
          } else {
            addLogistics(this.logisticsFormData).then((response) => {
              if (response === 1) {
                this.msgSuccess("添加后勤保障成功。");
                this.resetLogisticsForm();
                this.closeLogisticsForm();
                this.listLogisticsInfo();
              }
            });
          }
        } else {
          console.log("确认失败！");
          return false;
        }
      });
    },
  },
};
</script>