<template>
  <div class="app-container">
    <!-- <el-form :model="queryParams" ref="queryClubForm" :inline="true" label-width="68px">
      <el-form-item label="活动名称" prop="bikeShopName">
        <el-input
          v-model="queryParams.bikeShopName"
          placeholder="请输入活动名称"
          clearable
          size="small"
          @keyup.enter.native="searchButton"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="searchButton">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetSearchQuery">重置</el-button>
      </el-form-item>
    </el-form>-->
    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          icon="el-icon-plus"
          size="mini"
          @click="addButton"
          >新增</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="updateButton"
          >修改</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="deleteOperation"
          >删除</el-button
        >
      </el-col>
    </el-row>

    <el-table
      v-loading="loading"
      :data="activityLogisticsList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column
        label="活动编号"
        align="center"
        prop="returnActivityLogisticsInfoId"
      />
      <el-table-column
        label="活动名称"
        align="center"
        prop="returnActivityNameInfo"
      />
      <el-table-column
        label="活动后勤"
        align="center"
        prop="returnActivityLogisticsInfo"
      />
      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="updateButton(scope.row)"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="deleteOperation(scope.row)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="listActivityLogisticsInfo"
    />
    <el-dialog
      v-bind="$attrs"
      v-on="$listeners"
      :title="title"
      :visible.sync="dialogVisible"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-row :gutter="15">
        <el-form
          ref="activityLogisticsForm"
          :model="activityLogisticsFormData"
          :rules="rules"
          size="medium"
          label-width="100px"
        >
          <el-col :span="12">
            <el-form-item
              label="活动编号"
              prop="returnActivityLogisticsInfoId"
              hidden
            >
              <el-input
                v-model="
                  activityLogisticsFormData.returnActivityLogisticsInfoId
                "
                placeholder="请输入活动编号"
                readonly
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="活动名称" prop="returnActivityNameInfo">
              <el-select
                v-model="activityLogisticsFormData.returnActivityNameInfo"
                placeholder="请选择活动名称"
                clearable
                :style="{ width: '100%' }"
              >
                <el-option
                  v-for="(item, index) in activityOptions"
                  :key="index"
                  :label="item.activityName"
                  :value="item.activityId"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="后勤保障" prop="returnActivityLogisticsInfo">
              <el-select
                v-model="activityLogisticsFormData.returnActivityLogisticsInfo"
                placeholder="请选择活动后勤保障"
                multiple
                filterable
                clearable
                :style="{ width: '100%' }"
              >
                <el-option
                  v-for="(item, index) in activityLogisticsOptions"
                  :key="index"
                  :label="item.logisticsName"
                  :value="item.logisticsId"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <div slot="footer">
        <el-button @click="cancelButton">取消</el-button>
        <el-button type="primary" @click="confirmButton">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  listActivityLogistics,
  deleteActivityLogistics,
  updateActivityLogistics,
  getActivityLogisticsById,
  addActivityLogistics,
  selectActivityDropdownList,
  selectLogisticsDropdownList,
} from "@/api/activityLogistics";
export default {
  created() {
    this.getActivityLogisticsOptions();
    this.getActivityOptions();
  },
  components: {},
  data() {
    return {
      queryParams: { pageNum: 1, pageSize: 10 },
      activityLogisticsList: [],
      loading: false,
      title: "",
      total: 0,
      pageNum: 1,
      dialogVisible: false,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      activityLogisticsFormData: {
        returnActivityLogisticsInfoId: "",
        returnActivityNameInfo: "",
        returnActivityLogisticsInfo: undefined,
      },
      rules: {
        returnActivityNameInfo: [
          {
            required: true,
            message: "请选择活动名称",
            trigger: "change",
          },
        ],
        returnActivityLogisticsInfo: [
          {
            required: true,
            type: "array",
            message: "请至少选择一个活动后勤保障内容",
            trigger: "blur",
          },
        ],
      },
      activityLogisticsOptions: [],
      activityOptions: [],
    };
  },
  mounted() {
    this.listActivityLogisticsInfo();
  },
  methods: {
    listActivityLogisticsInfo() {
      this.loading = true;
      listActivityLogistics(this.queryParams).then((res) => {
        this.activityLogisticsList = res.rows;
        this.total = res.total;
        this.loading = false;
      });
    },
    /** 新增按钮操作 */
    addButton() {
      this.openActivityLogisticsForm();
      this.resetActivityLogisticsForm();
      this.title = "添加后勤保障";
    },
    /** 修改按钮操作 */
    updateButton(row) {
      const returnActivityLogisticsInfoIds =
        row.returnActivityLogisticsInfoId || this.ids[0];
      getActivityLogisticsById(returnActivityLogisticsInfoIds).then(
        (response) => {
          console.log(response);

          this.openActivityLogisticsForm();
          this.activityLogisticsFormData = response.data;
          this.title = "修改后勤保障";
        }
      );
    },
    /** 删除按钮操作 */
    deleteOperation(row) {
      const returnActivityLogisticsInfoIds =
        row.returnActivityLogisticsInfoId || this.ids;
      this.$confirm(
        '是否确认删除编号为"' + returnActivityLogisticsInfoIds + '"的数据?',
        "提示",
        {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        }
      )
        .then(() => {
          deleteActivityLogistics(returnActivityLogisticsInfoIds).then(
            (res) => {
              this.$message({
                type: "success",
                message: "删除成功!",
              });
              this.listActivityLogisticsInfo();
            }
          );
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    /** 搜索按钮操作 */
    // searchButton() {
    //   this.queryParams.pageNum = 1;
    //   this.listActivityLogisticsInfo();
    // },
    /** 重置按钮操作 */
    // resetSearchQuery() {
    //   this.resetForm("queryClubForm");
    //   this.searchButton();
    // },
    /** 多选框选中数据 */
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.returnActivityLogisticsInfoId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 取消按钮操作 */
    cancelButton() {
      this.resetActivityLogisticsForm();
      this.closeActivityLogisticsForm();
    },
    /** 打开后勤保障表单 */
    openActivityLogisticsForm() {
      this.dialogVisible = true;
    },
    /** 关闭后勤保障表单 */
    closeActivityLogisticsForm() {
      this.dialogVisible = false;
    },
    /** 清空后勤保障表单 */
    resetActivityLogisticsForm() {
      this.$refs["activityLogisticsForm"].resetFields();
    },
    /** 新增或更改后勤保障信息确认按钮 */
    confirmButton() {
      this.$refs["activityLogisticsForm"].validate((valid) => {
        if (valid) {
          if (
            this.activityLogisticsFormData.returnActivityLogisticsInfoId != ""
          ) {
            updateActivityLogistics(this.activityLogisticsFormData).then(
              (response) => {
                if (response >= 1) {
                  this.msgSuccess("修改后勤保障成功。");
                  this.resetActivityLogisticsForm();
                  this.closeActivityLogisticsForm();
                  this.listActivityLogisticsInfo();
                }
              }
            );
          } else {
            addActivityLogistics(this.activityLogisticsFormData).then(
              (response) => {
                if (response >= 1) {
                  this.msgSuccess("添加后勤保障成功。");
                  this.resetActivityLogisticsForm();
                  this.closeActivityLogisticsForm();
                  this.listActivityLogisticsInfo();
                }
              }
            );
          }
        } else {
          console.log("确认失败！");
          return false;
        }
      });
    },
    /** 获取活动单选下拉框选项 */
    getActivityOptions() {
      selectActivityDropdownList().then((res) => {
        this.activityOptions = res.data;
      });
    },
    /** 获取后勤保障多选下拉框选项 */
    getActivityLogisticsOptions() {
      selectLogisticsDropdownList().then((res) => {
        this.activityLogisticsOptions = res.data;
      });
    },
  },
};
</script>