<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryOrderForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="活动名称" prop="activityName">
        <el-select
          v-model="queryParams.activityName"
          placeholder="活动名称"
          clearable
          size="small"
        >
          <el-option
            v-for="(item, index) in activityOptions"
            :key="index"
            :label="item.activityName"
            :value="item.activityId"
            :disabled="item.disabled"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="用户姓名" prop="user_name">
        <el-input
          v-model="queryParams.user_name"
          placeholder="请输入用户姓名"
          clearable
          size="small"
          @keyup.enter.native="searchButton"
        />
      </el-form-item>
      <el-form-item label="联系方式" prop="mobile">
        <el-input
          v-model="queryParams.mobile"
          placeholder="请输入联系方式"
          clearable
          size="small"
          @keyup.enter.native="searchButton"
        />
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="searchButton"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetSearchQuery"
          >重置</el-button
        >
      </el-form-item>
    </el-form>

    <!-- <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="warning"
          icon="el-icon-download"
          size="mini"
          @click="exportButton"
          >导出</el-button
        >
      </el-col>
    </el-row> -->

    <el-table
      v-loading="loading"
      :data="orderList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="订单ID" align="center" prop="orderId" />
      <el-table-column label="订单号" align="center" prop="out_trade_no" />
      <el-table-column label="订单状态" align="center" prop="orderStatus">
        <template scope="scope">
          <span v-if="scope.row.orderStatus == 0">支付中</span>
          <span v-else-if="scope.row.orderStatus == 1">支付成功</span>
          <span v-else-if="scope.row.orderStatus == 2">已退款</span>
          <span v-else>不可用</span>
        </template>
      </el-table-column>
      <el-table-column label="用户姓名" align="center" prop="user_name" />
      <el-table-column label="性别" align="center" prop="user_sex">
        <template scope="scope">
          <span v-if="scope.row.user_sex == 0">女</span>
          <span v-else>男</span>
        </template>
      </el-table-column>
      <el-table-column label="证件号" align="center" prop="card_code" />
      <el-table-column label="联系方式" align="center" prop="mobile" />
      <el-table-column label="活动名称" align="center" prop="activityName" />
      <!-- <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button size="mini" type="text" icon="el-icon-edit" @click="updateButton(scope.row)">查看</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="deleteOperation(scope.row)"
          >删除</el-button>
        </template>
      </el-table-column> -->
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="listOrderInfo"
    />

    <el-dialog
      v-bind="$attrs"
      v-on="$listeners"
      :title="title"
      :visible.sync="dialogVisible"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-row :gutter="15">
        <el-form
          ref="clubForm"
          :model="clubFormData"
          :rules="rules"
          size="medium"
          label-width="100px"
        >
          <el-col :span="12">
            <el-form-item label="车店编号" prop="bikeShopId" hidden>
              <el-input
                v-model="clubFormData.bikeShopId"
                placeholder="请输入车店编号"
                readonly
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="车店名称" prop="bikeShopName">
              <el-input
                v-model="clubFormData.bikeShopName"
                placeholder="请输入车店名称"
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="车店地址" prop="bikeShopAddress">
              <el-input
                v-model="clubFormData.bikeShopAddress"
                placeholder="请输入车店地址"
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="联系方式" prop="bikeShopContact">
              <el-input
                v-model="clubFormData.bikeShopContact"
                placeholder="请输入联系方式"
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="车店头像"
              prop="bikeShopAvatarUrl"
              style="margin-bottom: 30px"
            >
              车店头像，image
              <Upload
                v-model="clubFormData.bikeShopAvatarUrl"
                label="上传图片"
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="车店图片"
              prop="bikeShopPictureUrl"
              style="margin-bottom: 30px"
            >
              车店图片，image
              <Upload
                v-model="clubFormData.bikeShopPictureUrl"
                label="上传图片"
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              prop="bikeShopProfile"
              style="margin-bottom: 30px"
              label="车店简介"
            >
              <Tinymce
                ref="editor"
                v-model="clubFormData.bikeShopProfile"
                :height="400"
              />
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <div slot="footer">
        <el-button @click="cancelButton">取消</el-button>
        <el-button type="primary" @click="confirmButton">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  listOrders,
  exportOrders,
  selectActivityDropdownList,
  deleteClubs,
  updateClub,
  getClubById,
  addClub,
} from "@/api/order";
import Tinymce from "@/components/Tinymce";
import Upload from "@/components/Upload/SingleImage";
export default {
  components: {
    Tinymce,
    Upload,
  },
  data() {
    return {
      queryParams: { pageNum: 1, pageSize: 10 },
      orderList: [],
      loading: false,
      title: "",
      total: 0,
      pageNum: 1,
      dialogVisible: false,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      clubFormData: {
        bikeShopId: "",
        bikeShopName: "",
        bikeShopAddress: "",
        bikeShopContact: "",
      },
      rules: {
        bikeShopName: [
          {
            required: true,
            message: "请输入车店名称",
            trigger: "blur",
          },
        ],
        bikeShopAddress: [
          {
            required: true,
            message: "请输入车店地址",
            trigger: "blur",
          },
        ],
        bikeShopContact: [
          {
            required: true,
            message: "请输入联系方式",
            trigger: "blur",
          },
        ],
      },
      clubStateOptions: [
        {
          label: "可用",
          value: 1,
        },
        {
          label: "不可用",
          value: 2,
        },
      ],
      activityOptions: [],
    };
  },
  mounted() {
    this.listOrderInfo();
    this.getActivityOptions();
  },
  methods: {
    listOrderInfo() {
      this.loading = true;
      listOrders(this.queryParams).then((res) => {
        this.orderList = res.rows;
        this.total = res.total;
        this.loading = false;
      });
    },
    /** 新增按钮操作 */
    addButton() {
      this.openClubForm();
      this.resetClubForm();
      this.title = "添加俱乐部";
    },
    /** 修改按钮操作 */
    updateButton(row) {
      const bikeShopIds = row.bikeShopId || this.ids[0];
      getClubById(bikeShopIds).then((response) => {
        this.openClubForm();
        this.clubFormData = response.data;
        this.title = "修改俱乐部";
      });
    },
    /** 删除按钮操作 */
    deleteOperation(row) {
      const bikeShopIds = row.bikeShopId || this.ids;
      this.$confirm('是否确认删除编号为"' + bikeShopIds + '"的数据?', "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          deleteClubs(bikeShopIds).then((res) => {
            this.$message({
              type: "success",
              message: "删除成功!",
            });
            this.listOrderInfo();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    /** 搜索按钮操作 */
    searchButton() {
      this.queryParams.pageNum = 1;
      this.listOrderInfo();
    },
    /** 重置按钮操作 */
    resetSearchQuery() {
      this.resetForm("queryOrderForm");
      this.searchButton();
    },
    /** 多选框选中数据 */
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.orderId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 取消按钮操作 */
    cancelButton() {
      this.resetClubForm();
      this.closeClubForm();
    },
    /** 打开俱乐部表单 */
    openClubForm() {
      this.dialogVisible = true;
    },
    /** 关闭俱乐部表单 */
    closeClubForm() {
      this.dialogVisible = false;
    },
    /** 清空俱乐部表单 */
    resetClubForm() {
      this.$refs["clubForm"].resetFields();
    },
    /** 新增或更改俱乐部信息确认按钮 */
    confirmButton() {
      this.$refs["clubForm"].validate((valid) => {
        if (valid) {
          if (this.clubFormData.bikeShopId != "") {
            updateClub(this.clubFormData).then((response) => {
              if (response === 1) {
                this.msgSuccess("修改俱乐部成功。");
                this.resetClubForm();
                this.closeClubForm();
                this.listOrderInfo();
              }
            });
          } else {
            addClub(this.clubFormData).then((response) => {
              if (response === 1) {
                this.msgSuccess("添加俱乐部成功。");
                this.resetClubForm();
                this.closeClubForm();
                this.listOrderInfo();
              }
            });
          }
        } else {
          console.log("确认失败！");
          return false;
        }
      });
    },
    /** 获取活动单选下拉框选项 */
    getActivityOptions() {
      selectActivityDropdownList().then((res) => {
        this.activityOptions = res.data;
      });
    },
    /** 导出按钮 */
    exportButton() {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出所有订单数据项?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return exportOrders(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () {});
    },
  },
};
</script>