<template>
  <div class="app-container">
    <!-- <el-form :model="queryParams" ref="queryClubForm" :inline="true" label-width="68px">
      <el-form-item label="活动名称" prop="bikeShopName">
        <el-input
          v-model="queryParams.bikeShopName"
          placeholder="请输入活动名称"
          clearable
          size="small"
          @keyup.enter.native="searchButton"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="searchButton">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetSearchQuery">重置</el-button>
      </el-form-item>
    </el-form>-->
    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          icon="el-icon-plus"
          size="mini"
          @click="addButton"
          >新增</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="updateButton"
          >修改</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="deleteOperation"
          >删除</el-button
        >
      </el-col>
    </el-row>

    <el-table
      v-loading="loading"
      :data="productList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column
        label="活动编号"
        align="center"
        prop="returnProductInfoId"
      />
      <el-table-column
        label="活动名称"
        align="center"
        prop="returnActivityNameInfo"
      />
      <el-table-column
        label="产品详情"
        align="center"
        prop="returnProductInfo"
      />
      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="updateButton(scope.row)"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="deleteOperation(scope.row)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="listProductListInfo"
    />
    <el-dialog
      v-bind="$attrs"
      v-on="$listeners"
      :title="title"
      :visible.sync="dialogVisible"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-row :gutter="15">
        <el-form
          ref="productForm"
          :model="productFormData"
          :rules="rules"
          size="medium"
          label-width="100px"
        >
          <el-col :span="12">
            <el-form-item label="活动编号" prop="returnProductInfoId" hidden>
              <el-input
                v-model="productFormData.returnProductInfoId"
                placeholder="请输入活动编号"
                readonly
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="活动名称" prop="returnActivityNameInfo">
              <el-select
                v-model="productFormData.returnActivityNameInfo"
                placeholder="请选择活动名称"
                clearable
                :style="{ width: '100%' }"
              >
                <el-option
                  v-for="(item, index) in activityOptions"
                  :key="index"
                  :label="item.activityName"
                  :value="item.activityId"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品名称" prop="productName1">
              <el-input
                v-model="productFormData.productName1"
                placeholder="请输入产品名称"
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品价格" prop="productPrice1">
              <el-input-number
                v-model="productFormData.productPrice1"
                placeholder="请输入产品价格"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品名称" prop="productName2">
              <el-input
                v-model="productFormData.productName2"
                placeholder="请输入产品名称"
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品价格" prop="productPrice2">
              <el-input-number
                v-model="productFormData.productPrice2"
                placeholder="请输入产品价格"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品名称" prop="productName3">
              <el-input
                v-model="productFormData.productName3"
                placeholder="请输入产品名称"
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品价格" prop="productPrice3">
              <el-input-number
                v-model="productFormData.productPrice3"
                placeholder="请输入产品价格"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品名称" prop="productName4">
              <el-input
                v-model="productFormData.productName4"
                placeholder="请输入产品名称"
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品价格" prop="productPrice4">
              <el-input-number
                v-model="productFormData.productPrice4"
                placeholder="请输入产品价格"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品名称" prop="productName5">
              <el-input
                v-model="productFormData.productName5"
                placeholder="请输入产品名称"
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品价格" prop="productPrice5">
              <el-input-number
                v-model="productFormData.productPrice5"
                placeholder="请输入产品价格"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品名称" prop="productName6">
              <el-input
                v-model="productFormData.productName6"
                placeholder="请输入产品名称"
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品价格" prop="productPrice6">
              <el-input-number
                v-model="productFormData.productPrice6"
                placeholder="请输入产品价格"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <div slot="footer">
        <el-button @click="cancelButton">取消</el-button>
        <el-button type="primary" @click="confirmButton">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  listProduct,
  deleteProduct,
  updateProduct,
  getProductById,
  addProduct,
  selectActivityDropdownList,
} from "@/api/product";
export default {
  created() {
    this.getActivityOptions();
  },
  components: {},
  data() {
    return {
      queryParams: { pageNum: 1, pageSize: 10 },
      productList: [],
      loading: false,
      title: "",
      total: 0,
      pageNum: 1,
      dialogVisible: false,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      productFormData: {
        returnProductInfoId: "",
        returnActivityNameInfo: "",
        productName1: "",
        productPrice1: undefined,
        productName2: "",
        productPrice2: undefined,
        productName3: "",
        productPrice3: undefined,
        productName4: "",
        productPrice4: undefined,
        productName5: "",
        productPrice5: undefined,
        productName6: "",
        productPrice6: undefined,
      },
      rules: {
        returnActivityNameInfo: [
          {
            required: true,
            message: "请选择时间活动名称",
            trigger: "change",
          },
        ],
        productName1: [
          {
            required: true,
            message: "请输入产品名称",
            trigger: "blur",
          },
        ],
        productPrice1: [
          {
            required: true,
            message: "请输入产品价格",
            trigger: "blur",
          },
          {
            pattern: /^[0-9]+([.]{1}[0-9]+){0,1}$/,
            message: "请输入整数或小数数字",
            trigger: "blur",
          },
        ],
        productName2: [],
        productPrice2: [
          {
            pattern: /^[0-9]+([.]{1}[0-9]+){0,1}$/,
            message: "请输入整数或小数数字",
            trigger: "blur",
          },
        ],
        productName3: [],
        productPrice3: [
          {
            pattern: /^[0-9]+([.]{1}[0-9]+){0,1}$/,
            message: "请输入整数或小数数字",
            trigger: "blur",
          },
        ],
        productName4: [],
        productPrice4: [
          {
            pattern: /^[0-9]+([.]{1}[0-9]+){0,1}$/,
            message: "请输入整数或小数数字",
            trigger: "blur",
          },
        ],
        productName5: [],
        productPrice5: [
          {
            pattern: /^[0-9]+([.]{1}[0-9]+){0,1}$/,
            message: "请输入整数或小数数字",
            trigger: "blur",
          },
        ],
        productName6: [],
        productPrice6: [
          {
            pattern: /^[0-9]+([.]{1}[0-9]+){0,1}$/,
            message: "请输入整数或小数数字",
            trigger: "blur",
          },
        ],
      },
      activityOptions: [],
    };
  },
  mounted() {
    this.listProductListInfo();
  },
  methods: {
    listProductListInfo() {
      this.loading = true;
      listProduct(this.queryParams).then((res) => {
        this.productList = res.rows;
        this.total = res.total;
        this.loading = false;
      });
    },
    /** 新增按钮操作 */
    addButton() {
      this.openProductForm();
      this.resetProductForm();
      this.title = "添加产品";
    },
    /** 修改按钮操作 */
    updateButton(row) {
      const returnProductInfoIds = row.returnProductInfoId || this.ids[0];
      getProductById(returnProductInfoIds).then((response) => {
        console.log(response);
        this.openProductForm();
        this.productFormData = response.data;
        this.title = "修改产品";
      });
    },
    /** 删除按钮操作 */
    deleteOperation(row) {
      const returnProductInfoIds = row.returnProductInfoId || this.ids;
      this.$confirm(
        '是否确认删除编号为"' + returnProductInfoIds + '"的数据?',
        "提示",
        {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        }
      )
        .then(() => {
          deleteProduct(returnProductInfoIds).then((res) => {
            this.$message({
              type: "success",
              message: "删除成功!",
            });
            this.listProductListInfo();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    /** 搜索按钮操作 */
    // searchButton() {
    //   this.queryParams.pageNum = 1;
    //   this.listProductListInfo();
    // },
    /** 重置按钮操作 */
    // resetSearchQuery() {
    //   this.resetForm("queryClubForm");
    //   this.searchButton();
    // },
    /** 多选框选中数据 */
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.returnProductInfoId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 取消按钮操作 */
    cancelButton() {
      this.resetProductForm();
      this.closeProductForm();
    },
    /** 打开产品表单 */
    openProductForm() {
      this.dialogVisible = true;
    },
    /** 关闭产品表单 */
    closeProductForm() {
      this.dialogVisible = false;
    },
    /** 清空产品表单 */
    resetProductForm() {
      this.$refs["productForm"].resetFields();
    },
    /** 新增或更改产品信息确认按钮 */
    confirmButton() {
      this.$refs["productForm"].validate((valid) => {
        if (valid) {
          if (this.productFormData.returnProductInfoId != "") {
            updateProduct(this.productFormData).then((response) => {
              if (response >= 1) {
                this.msgSuccess("修改产品成功。");
                this.resetProductForm();
                this.closeProductForm();
                this.listProductListInfo();
              }
            });
          } else {
            addProduct(this.productFormData).then((response) => {
              if (response >= 1) {
                this.msgSuccess("添加产品成功。");
                this.resetProductForm();
                this.closeProductForm();
                this.listProductListInfo();
              }
            });
          }
        } else {
          console.log("确认失败！");
          return false;
        }
      });
    },
    /** 获取活动单选下拉框选项 */
    getActivityOptions() {
      selectActivityDropdownList().then((res) => {
        this.activityOptions = res.data;
      });
    },
  },
};
</script>