<template>
  <div class="app-container">
    <!-- <el-form :model="queryParams" ref="queryClubForm" :inline="true" label-width="68px">
      <el-form-item label="活动名称" prop="bikeShopName">
        <el-input
          v-model="queryParams.bikeShopName"
          placeholder="请输入活动名称"
          clearable
          size="small"
          @keyup.enter.native="searchButton"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="searchButton">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetSearchQuery">重置</el-button>
      </el-form-item>
    </el-form>-->
    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          icon="el-icon-plus"
          size="mini"
          @click="addButton"
          >新增</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="updateButton"
          >修改</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="deleteOperation"
          >删除</el-button
        >
      </el-col>
    </el-row>

    <el-table
      v-loading="loading"
      :data="refundPolicyList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column
        label="活动编号"
        align="center"
        prop="returnRefundPolicyInfoId"
      />
      <el-table-column
        label="活动名称"
        align="center"
        prop="returnActivityNameInfo"
      />
      <el-table-column
        label="退款政策"
        align="center"
        prop="returnRefundPolicyInfo"
      />
      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="updateButton(scope.row)"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="deleteOperation(scope.row)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="listRefundPolicyListInfo"
    />
    <el-dialog
      v-bind="$attrs"
      v-on="$listeners"
      :title="title"
      :visible.sync="dialogVisible"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-row :gutter="15">
        <el-form
          ref="refundPolicyForm"
          :model="refundPolicyFormData"
          :rules="rules"
          size="medium"
          label-width="100px"
        >
          <el-col :span="12">
            <el-form-item
              label="活动编号"
              prop="returnRefundPolicyInfoId"
              hidden
            >
              <el-input
                v-model="refundPolicyFormData.returnRefundPolicyInfoId"
                placeholder="请输入活动编号"
                readonly
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="活动名称" prop="returnActivityNameInfo">
              <el-select
                v-model="refundPolicyFormData.returnActivityNameInfo"
                placeholder="请选择活动名称"
                clearable
                :style="{ width: '100%' }"
              >
                <el-option
                  v-for="(item, index) in activityOptions"
                  :key="index"
                  :label="item.activityName"
                  :value="item.activityId"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>

          <el-col :span="24">
            <el-form-item label="退款截止" prop="refundTime6">
              <el-date-picker
                v-model="refundPolicyFormData.refundTime6"
                format="yyyy-MM-dd"
                value-format="yyyy-MM-dd"
                :style="{ width: '100%' }"
                placeholder="该日期前申请退款"
                clearable
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="退款比例" prop="refundPercentage6" hidden>
              <el-input-number
                v-model="refundPolicyFormData.refundPercentage6"
                placeholder="输入1-100的整数"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="退款时间" prop="refundTime1">
              <el-date-picker
                v-model="refundPolicyFormData.refundTime1"
                format="yyyy-MM-dd"
                value-format="yyyy-MM-dd"
                :style="{ width: '100%' }"
                placeholder="该日期前申请退款"
                clearable
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="退款比例" prop="refundPercentage1">
              <el-input-number
                v-model="refundPolicyFormData.refundPercentage1"
                placeholder="输入1-100的整数"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="退款时间" prop="refundTime2">
              <el-date-picker
                v-model="refundPolicyFormData.refundTime2"
                format="yyyy-MM-dd"
                value-format="yyyy-MM-dd"
                :style="{ width: '100%' }"
                placeholder="该日期前申请退款"
                clearable
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="退款比例" prop="refundPercentage2">
              <el-input-number
                v-model="refundPolicyFormData.refundPercentage2"
                placeholder="输入1-100的整数"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="退款时间" prop="refundTime3">
              <el-date-picker
                v-model="refundPolicyFormData.refundTime3"
                format="yyyy-MM-dd"
                value-format="yyyy-MM-dd"
                :style="{ width: '100%' }"
                placeholder="该日期前申请退款"
                clearable
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="退款比例" prop="refundPercentage3">
              <el-input-number
                v-model="refundPolicyFormData.refundPercentage3"
                placeholder="输入1-100的整数"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="退款时间" prop="refundTime4">
              <el-date-picker
                v-model="refundPolicyFormData.refundTime4"
                format="yyyy-MM-dd"
                value-format="yyyy-MM-dd"
                :style="{ width: '100%' }"
                placeholder="该日期前申请退款"
                clearable
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="退款比例" prop="refundPercentage4">
              <el-input-number
                v-model="refundPolicyFormData.refundPercentage4"
                placeholder="输入1-100的整数"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="退款时间" prop="refundTime5">
              <el-date-picker
                v-model="refundPolicyFormData.refundTime5"
                format="yyyy-MM-dd"
                value-format="yyyy-MM-dd"
                :style="{ width: '100%' }"
                placeholder="该日期前申请退款"
                clearable
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="退款比例" prop="refundPercentage5">
              <el-input-number
                v-model="refundPolicyFormData.refundPercentage5"
                placeholder="输入1-100的整数"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <div slot="footer">
        <el-button @click="cancelButton">取消</el-button>
        <el-button type="primary" @click="confirmButton">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  listRefundPolicy,
  deleteRefundPolicy,
  updateRefundPolicy,
  getRefundPolicyById,
  addRefundPolicy,
  selectActivityDropdownList,
} from "@/api/refund";
export default {
  created() {
    this.getActivityOptions();
  },
  components: {},
  data() {
    return {
      queryParams: { pageNum: 1, pageSize: 10 },
      refundPolicyList: [],
      loading: false,
      title: "",
      total: 0,
      pageNum: 1,
      dialogVisible: false,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      refundPolicyFormData: {
        returnRefundPolicyInfoId: "",
        returnActivityNameInfo: "",
        refundTime1: null,
        refundPercentage1: undefined,
        refundTime2: null,
        refundPercentage2: undefined,
        refundTime3: null,
        refundPercentage3: undefined,
        refundTime4: null,
        refundPercentage4: undefined,
        refundTime5: null,
        refundPercentage5: undefined,
        refundTime6: null,
        refundPercentage6: undefined,
      },
      rules: {
        returnActivityNameInfo: [
          {
            required: true,
            message: "请选择时间活动名称",
            trigger: "change",
          },
        ],
        refundTime1: [],
        refundPercentage1: [
          {
            pattern: /^[1-9]\d*$/,
            message: "请输入0-9数字",
            trigger: "blur",
          },
        ],
        refundTime2: [],
        refundPercentage2: [
          {
            pattern: /^[1-9]\d*$/,
            message: "请输入0-9数字",
            trigger: "blur",
          },
        ],
        refundTime3: [],
        refundPercentage3: [
          {
            pattern: /^[1-9]\d*$/,
            message: "请输入0-9数字",
            trigger: "blur",
          },
        ],
        refundTime4: [],
        refundPercentage4: [
          {
            pattern: /^[1-9]\d*$/,
            message: "请输入0-9数字",
            trigger: "blur",
          },
        ],
        refundTime5: [],
        refundPercentage5: [
          {
            pattern: /^[1-9]\d*$/,
            message: "请输入0-9数字",
            trigger: "blur",
          },
        ],
        refundTime6: [
          {
            required: true,
            message: "请选择退款时间",
            trigger: "change",
          },
        ],
        refundPercentage6: [
          {
            pattern: /^[1-9]\d*$/,
            message: "请输入0-9数字",
            trigger: "blur",
          },
        ],
      },
      activityOptions: [],
    };
  },
  mounted() {
    this.listRefundPolicyListInfo();
  },
  methods: {
    listRefundPolicyListInfo() {
      this.loading = true;
      listRefundPolicy(this.queryParams).then((res) => {
        this.refundPolicyList = res.rows;
        this.total = res.total;
        this.loading = false;
      });
    },
    /** 新增按钮操作 */
    addButton() {
      this.openRefundPolicyForm();
      this.resetRefundPolicyForm();
      this.title = "添加退款政策";
    },
    /** 修改按钮操作 */
    updateButton(row) {
      const returnRefundPolicyInfoIds =
        row.returnRefundPolicyInfoId || this.ids[0];
      getRefundPolicyById(returnRefundPolicyInfoIds).then((response) => {
        console.log(response);
        this.openRefundPolicyForm();
        this.refundPolicyFormData = response.data;
        if(null == this.refundPolicyFormData.refundPercentage1) {
          this.refundPolicyFormData.refundPercentage1 = undefined;
        }
        if(null == this.refundPolicyFormData.refundPercentage2) {
          this.refundPolicyFormData.refundPercentage2 = undefined;
        }
        if(null == this.refundPolicyFormData.refundPercentage3) {
          this.refundPolicyFormData.refundPercentage3 = undefined;
        }
        if(null == this.refundPolicyFormData.refundPercentage4) {
          this.refundPolicyFormData.refundPercentage4 = undefined;
        }
        if(null == this.refundPolicyFormData.refundPercentage5) {
          this.refundPolicyFormData.refundPercentage5 = undefined;
        }
        if(null == this.refundPolicyFormData.refundPercentage6) {
          this.refundPolicyFormData.refundPercentage6 = undefined;
        }
        this.title = "修改退款政策";
      });
    },
    /** 删除按钮操作 */
    deleteOperation(row) {
      const returnRefundPolicyInfoIds =
        row.returnRefundPolicyInfoId || this.ids;
      this.$confirm(
        '是否确认删除编号为"' + returnRefundPolicyInfoIds + '"的数据?',
        "提示",
        {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        }
      )
        .then(() => {
          deleteRefundPolicy(returnRefundPolicyInfoIds).then((res) => {
            this.$message({
              type: "success",
              message: "删除成功!",
            });
            this.listRefundPolicyListInfo();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    /** 搜索按钮操作 */
    // searchButton() {
    //   this.queryParams.pageNum = 1;
    //   this.listRefundPolicyListInfo();
    // },
    /** 重置按钮操作 */
    // resetSearchQuery() {
    //   this.resetForm("queryClubForm");
    //   this.searchButton();
    // },
    /** 多选框选中数据 */
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.returnRefundPolicyInfoId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 取消按钮操作 */
    cancelButton() {
      this.resetRefundPolicyForm();
      this.closeRefundPolicyForm();
    },
    /** 打开退款政策表单 */
    openRefundPolicyForm() {
      this.dialogVisible = true;
    },
    /** 关闭退款政策表单 */
    closeRefundPolicyForm() {
      this.dialogVisible = false;
    },
    /** 清空退款政策表单 */
    resetRefundPolicyForm() {
      this.$refs["refundPolicyForm"].resetFields();
    },
    /** 新增或更改退款政策信息确认按钮 */
    confirmButton() {
      this.$refs["refundPolicyForm"].validate((valid) => {
        var flag = true;
        if (
          this.refundPolicyFormData.refundTime1 != null &&
          this.refundPolicyFormData.refundTime6 != null
        ) {
          flag = this.compareDate(
            this.refundPolicyFormData.refundTime1,
            this.refundPolicyFormData.refundTime6
          );
        }
        if (
          this.refundPolicyFormData.refundTime2 != null &&
          this.refundPolicyFormData.refundTime6 != null
        ) {
          flag = this.compareDate(
            this.refundPolicyFormData.refundTime2,
            this.refundPolicyFormData.refundTime6
          );
        }
        if (
          this.refundPolicyFormData.refundTime3 != null &&
          this.refundPolicyFormData.refundTime6 != null
        ) {
          flag = this.compareDate(
            this.refundPolicyFormData.refundTime3,
            this.refundPolicyFormData.refundTime6
          );
        }
        if (
          this.refundPolicyFormData.refundTime4 != null &&
          this.refundPolicyFormData.refundTime6 != null
        ) {
          flag = this.compareDate(
            this.refundPolicyFormData.refundTime4,
            this.refundPolicyFormData.refundTime6
          );
        }
        if (
          this.refundPolicyFormData.refundTime5 != null &&
          this.refundPolicyFormData.refundTime6 != null
        ) {
          flag = this.compareDate(
            this.refundPolicyFormData.refundTime5,
            this.refundPolicyFormData.refundTime6
          );
        }
        if (flag) {
          if (valid) {
            if (this.refundPolicyFormData.returnRefundPolicyInfoId != "") {
              updateRefundPolicy(this.refundPolicyFormData).then((response) => {
                if (response >= 1) {
                  this.msgSuccess("修改退款政策成功。");
                  this.resetRefundPolicyForm();
                  this.closeRefundPolicyForm();
                  this.listRefundPolicyListInfo();
                }
              });
            } else {
              addRefundPolicy(this.refundPolicyFormData).then((response) => {
                if (response >= 1) {
                  this.msgSuccess("添加退款政策成功。");
                  this.resetRefundPolicyForm();
                  this.closeRefundPolicyForm();
                  this.listRefundPolicyListInfo();
                }
              });
            }
          } else {
            console.log("确认失败！");
            return false;
          }
        } else {
          alert("退款截止时间必须大于退款时间！");
          return false;
        }
      });
    },
    /** 获取活动单选下拉框选项 */
    getActivityOptions() {
      selectActivityDropdownList().then((res) => {
        this.activityOptions = res.data;
      });
    },
    compareDate(refundTime, refundEndTime) {
      var arys1 = new Array();
      var arys2 = new Array();
      if (refundTime != null && refundEndTime != null) {
        arys1 = refundTime.split("-");
        var refundDate = new Date(arys1[0], parseInt(arys1[1] - 1), arys1[2]);
        arys2 = refundEndTime.split("-");
        var refundEndDate = new Date(
          arys2[0],
          parseInt(arys2[1] - 1),
          arys2[2]
        );
        return refundDate < refundEndDate;
      }
    },
  },
};
</script>