<template>
  <div>
    <el-table v-loading="loading" :data="atricleList">
      <el-table-column label="文章编号" align="center" prop="atricleId" />
      <el-table-column label="文章标题" align="center" prop="title" />
      <el-table-column label="视频VID" align="center" prop="vid" />
      <el-table-column label="发布日期" align="center" prop="createTime" />
      <el-table-column label="发布人账号" align="center" prop="createBy" />
      <el-table-column label="发布人昵称" align="center" prop="nickName" />
      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <!-- <el-button size="mini" type="text" icon="el-icon-view" @click="preview(scope.row)">内容预览</el-button> -->

          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            >修改</el-button
          >
          <!-- v-hasPermi="['system:dept:edit']" -->

          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            >删除</el-button
          >
          <!-- v-hasPermi="['member:log:remove']" -->
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="doGetPage"
    />

    <!-- <el-dialog :title="title" :visible.sync="dialogVisible" width="90%" :before-close="handleClose">
      <span v-html="toPreview">这是一段信息</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>-->

    <!-- 修改信息对话框。 -->
    <el-dialog
      v-bind="$attrs"
      v-on="$listeners"
      @open="onOpen"
      @close="onClose"
      :title="title"
      :visible.sync="dialogVisible"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-row :gutter="15">
        <el-form
          ref="elForm"
          :model="formData"
          :rules="rules"
          size="medium"
          label-width="100px"
        >
          <el-col :span="12">
            <el-form-item label="文章编号" prop="atricleId">
              <el-input
                v-model="formData.atricleId"
                placeholder="请输入文章编号"
                readonly
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="视频VID" prop="vid">
              <el-input
                v-model="formData.vid"
                placeholder="请输入视频VID"
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="视频时长" prop="videoSecondTime">
              <el-input-number
                v-model="formData.videoSecondTime"
                placeholder="视频时长(单位：秒)"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="视频分类" prop="videoType">
              <el-select
                v-model="formData.videoType"
                placeholder="请选择视频分类"
                clearable
                :style="{ width: '100%' }"
              >
                <el-option
                  v-for="(item, index) in videoTypeOptions"
                  :key="index"
                  :label="item.label"
                  :value="item.value"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="文章标题" prop="title">
              <el-input
                v-model="formData.title"
                placeholder="请输入文章标题"
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              prop="content"
              style="margin-bottom: 30px"
              label="文章内容"
            >
              <quill-editor
                ref="text"
                v-model="formData.content"
                class="myQuillEditor"
                :options="editorOption"
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              prop="articleThumbnail"
              style="margin-bottom: 30px"
              label="文章封面图"
            >
              image
              <Upload v-model="formData.articleThumbnail" label="上传图片1" />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              prop="shareThumbnail"
              style="margin-bottom: 30px"
              label="分享卡片封面"
            >
              image
              <Upload v-model="formData.shareThumbnail" label="上传图片" />
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <div slot="footer">
        <el-button @click="close">取消</el-button>
        <el-button type="primary" @click="submitForm">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { page, doDeleteArticle, updateArticle } from "@/api/article";
import routeVue from "../showcase/route.vue";
import Upload from "@/components/Upload/SingleImage";
import { quillEditor } from "vue-quill-editor";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
export default {
  inheritAttrs: false,
  components: {
    quillEditor,
    Upload,
  },
  props: [],
  data() {
    return {
      editorOption: {
        placeholder: "请输入文章内容...",
        modules: {
          toolbar: [],
        },
      },
      // 表单参数
      formData: {
        atricleId: "",
        title: "",
        videoSecondTime: undefined,
        videoType: "",
        vid: "",
      },
      queryParams: { pageNum: 1, pageSize: 10 },
      atricleList: [],
      loading: false,
      // 弹出层标题inheritAttrs
      title: "",
      total: 0,
      pageNum: 1,
      dialogVisible: false,
      toPreview: null,
      // 表单校验
      rules: {
        atricleId: [
          {
            required: true,
            message: "请输入文章编号",
            trigger: "blur",
          },
        ],
        title: [
          {
            required: true,
            message: "请输入文章标题",
            trigger: "blur",
          },
        ],
        videoSecondTime: [
          {
            required: true,
            message: "请输入视频时长（单位：秒）",
            trigger: "blur",
          },
          {
            pattern: /^[1-9]\d*$/,
            message: "请输入0-9数字",
            trigger: "blur",
          },
        ],
        videoType: [
          {
            required: true,
            message: "请上传视频分类",
            trigger: "blur",
          },
        ],
        vid: [
          {
            required: true,
            message: "请输入视频VID",
            trigger: "blur",
          },
        ],
        content: [
          {
            required: true,
            message: "请输入文章内容",
            trigger: "blur",
          },
        ],
      },
      videoTypeOptions: [
        {
          label: "骑行人物",
          value: 1,
        },
        {
          label: "骑行教学",
          value: 2,
        },
        {
          label: "维护保养",
          value: 3,
        },
        {
          label: "日常训练",
          value: 4,
        },
        {
          label: "路线分享",
          value: 5,
        },
        {
          label: "特辑节目",
          value: 6,
        },
      ],
    };
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {
    this.doGetPage();
  },
  methods: {
    onOpen() {},
    onClose() {
      this.$refs["elForm"].resetFields();
    },
    close() {
      this.dialogVisible = false;
      this.reset();
    },
    handelConfirm() {
      this.$refs["elForm"].validate((valid) => {
        if (!valid) return;
        this.close();
      });
    },
    doGetPage() {
      this.loading = true;
      page(this.queryParams).then((res) => {
        this.atricleList = res.rows;
        this.total = res.total;
        this.loading = false;
      });
    },
    // preview(row) {
    //   this.dialogVisible = true;
    //   this.toPreview = row.content;
    //   this.title = "内容预览";
    // },
    // 取消按钮
    cancel() {
      this.dialogVisible = false;
      this.reset();
    },
    /** 表单重置 */
    reset() {
      this.form = {
        atricleId: undefined,
        title: undefined,
      };
      this.resetForm("form");
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      this.dialogVisible = true;
      this.formData.atricleId = row.atricleId;
      this.formData.title = row.title;
      this.formData.videoSecondTime = row.videoSecondTime;
      this.formData.videoType = row.videoType;
      this.formData.vid = row.vid;
      this.formData.content = row.content;
      this.title = "修改文章内容";
    },
    handleClose(done) {
      this.toPreview = null;
      done();
    },
    /** 提交按钮 */
    submitForm: function () {
      updateArticle(this.formData).then((response) => {
        if (response === 1) {
          this.msgSuccess("文章内容修改成功");
          this.dialogVisible = false;
          this.doGetPage();
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          doDeleteArticle(row.atricleId).then((res) => {
            this.$message({
              type: "success",
              message: "删除成功!",
            });
            this.doGetPage();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
  },
};
</script>