<template>
  <div class="createPost-container">
    <el-form
      ref="postForm"
      :model="postForm"
      :rules="rules"
      class="form-container"
    >
      <sticky :z-index="10" :class-name="'sub-navbar ' + postForm.status">
        <!-- <CommentDropdown v-model="postForm.comment_disabled" />
        <PlatformDropdown v-model="postForm.platforms" />
        <SourceUrlDropdown v-model="postForm.source_uri" />-->
        <el-button
          v-loading="loading"
          style="margin-left: 10px"
          type="success"
          @click="submitForm"
          >发布</el-button
        >
        <!-- <el-button
          v-loading="loading"
          type="warning"
          @click="draftForm"
        >
          Draft
        </el-button>-->
      </sticky>

      <div class="createPost-main-container">
        <el-row>
          <Warning />
          <el-col :span="24">
            <el-form-item label="视频时长" prop="videoSecondTime">
              <el-input-number
                v-model="postForm.videoSecondTime"
                placeholder="视频时长(单位：秒)"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>

          <el-col :span="24">
            <el-form-item label="视频分类" prop="videoType">
              <el-select
                v-model="postForm.videoType"
                placeholder="请选择视频分类"
                clearable
                :style="{ width: '100%' }"
              >
                <el-option
                  v-for="(item, index) in videoTypeOptions"
                  :key="index"
                  :label="item.label"
                  :value="item.value"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>

          <el-col :span="24">
            <el-form-item style="margin-bottom: 40px" prop="title">
              <MDinput
                v-model="postForm.title"
                :maxlength="100"
                name="name"
                required
                >文章标题</MDinput
              >
            </el-form-item>
            <el-form-item style="margin-bottom: 40px" prop="vid">
              腾讯视频VID，默认放文章顶部。
              <el-input
                clearable
                v-model="postForm.vid"
                :maxlength="100"
                required
                placeholder="仅限于输入腾讯视频vid，输入其他东西将无法播放"
              >
                <el-select
                  style="width: 100px"
                  v-model="postForm.vidLocation"
                  slot="append"
                  placeholder="请选择"
                  @change="vidLocationChage"
                >
                  <el-option label="头部" value="头部"></el-option>
                  <el-option label="尾部" value="尾部"></el-option>
                </el-select>
              </el-input>
            </el-form-item>
            <div class="postInfo-container">
              <el-row>
                <!-- <el-col :span="8">
                  <el-form-item
                    label-width="60px"
                    label="作者:"
                    class="postInfo-container-item"
                  >
                    <el-select
                      v-model="postForm.author"
                      :remote-method="getRemoteUserList"
                      filterable
                      default-first-option
                      remote
                      placeholder="Search user"
                    >
                      <el-option
                        v-for="(item,index) in userListOptions"
                        :key="item+index"
                        :label="item"
                        :value="item"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>-->

                <!-- <el-col :span="10">
                  <el-form-item
                    label-width="120px"
                    label="发布时间:"
                    class="postInfo-container-item"
                  >
                    <el-date-picker
                      v-model="displayTime"
                      type="datetime"
                      format="yyyy-MM-dd HH:mm:ss"
                      placeholder="Select date and time"
                    />
                  </el-form-item>
                </el-col>-->

                <!-- <el-col :span="6">
                  <el-form-item
                    label-width="90px"
                    label="重要程度:"
                    class="postInfo-container-item"
                  >
                    <el-rate
                      v-model="postForm.importance"
                      :max="3"
                      :colors="['#99A9BF', '#F7BA2A', '#FF9900']"
                      :low-threshold="1"
                      :high-threshold="3"
                      style="display:inline-block"
                    />
                  </el-form-item>
                </el-col>-->
              </el-row>
            </div>
          </el-col>
        </el-row>

        <!-- <el-form-item
          style="margin-bottom: 40px;"
          label-width="70px"
          label="描述："
        >
          <el-input
            v-model="postForm.content_short"
            :rows="1"
            type="textarea"
            class="article-textarea"
            autosize
            placeholder="Please enter the content"
          />
          <span
            v-show="contentShortLength"
            class="word-counter"
          >{{ contentShortLength }}words</span>
        </el-form-item>-->

        <!-- <el-form-item prop="content" style="margin-bottom: 30px">
          <Tinymce ref="editor" v-model="postForm.content" :height="400" />
        </el-form-item> -->

        <el-form-item label="文章内容" prop="content">
          <el-input
            v-model="postForm.content"
            type="textarea"
            placeholder="请输入文章内容..."
            show-word-limit
            :autosize="{ minRows: 4, maxRows: 4 }"
            :style="{ width: '100%' }"
          ></el-input>
        </el-form-item>

        <el-form-item
          prop="articleThumbnail"
          style="margin-bottom: 30px"
          label="文章封面图"
        >
          尺寸640*360
          <Upload v-model="postForm.articleThumbnail" label="上传图片1" />
        </el-form-item>

        <el-form-item
          prop="shareThumbnail"
          style="margin-bottom: 30px"
          label="分享卡片封面"
        >
          尺寸630*504
          <Upload v-model="postForm.shareThumbnail" label="上传图片" />
        </el-form-item>

        <!-- <el-form-item
          prop="image_uri"
          style="margin-bottom: 30px;"
        >
          <Upload3
            v-model="postForm.image_uri"
            label="上传图片1"
          />
        </el-form-item>-->
      </div>
    </el-form>
  </div>
</template>

<script>
import Upload from "@/components/Upload/SingleImage";
import Upload2 from "@/components/Upload/SingleImage2";
import Upload3 from "@/components/Upload/SingleImage3";
import MDinput from "@/components/MDinput";
import Sticky from "@/components/Sticky"; // 粘性header组件
import { validURL } from "@/utils/validate";
import { fetchArticle } from "@/api/article";
import { searchUser } from "@/api/remote-search";
import Warning from "./Warning";
import { submit } from "@/api/article";
import {
  CommentDropdown,
  PlatformDropdown,
  SourceUrlDropdown,
} from "./Dropdown";

const defaultForm = {
  status: "draft",
  title: "", // 文章题目
  content: "", // 文章内容
  content_short: "", // 文章摘要
  // source_uri: "", // 文章外链
  articleThumbnail: "", // 文章封面图片
  shareThumbnail: "", //视频封面图
  display_time: undefined, // 前台展示时间
  id: undefined,
  platforms: ["a-platform"],
  comment_disabled: false,
  importance: 0,
  vid: null, //腾讯视频vid
  vidLocation: "头部",
  videoSecondTime: undefined,
};

export default {
  name: "ArticleDetail",
  components: {
    MDinput,
    Upload,
    Upload2,
    Upload3,
    Sticky,
    Warning,
    CommentDropdown,
    PlatformDropdown,
    SourceUrlDropdown,
  },
  props: {
    isEdit: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    const validateRequire = (rule, value, callback) => {
      if (value === "") {
        this.$message({
          message: rule.field + "为必传项",
          type: "error",
        });
        callback(new Error(rule.field + "为必传项"));
      } else {
        callback();
      }
    };
    const validateSourceUri = (rule, value, callback) => {
      if (value) {
        if (validURL(value)) {
          callback();
        } else {
          this.$message({
            message: "外链url填写不正确",
            type: "error",
          });
          callback(new Error("外链url填写不正确"));
        }
      } else {
        callback();
      }
    };
    return {
      postForm: Object.assign({}, defaultForm),
      loading: false,
      userListOptions: [],
      rules: {
        videoSecondTime: [
          {
            required: true,
            message: "请输入视频时长（单位：秒）",
            trigger: "blur",
          },
          {
            pattern: /^[1-9]\d*$/,
            message: "请输入0-9数字",
            trigger: "blur",
          },
        ],
        videoType: {
          required: true,
          message: "请上传视频分类",
        },
        articleThumbnail: {
          required: true,
          message: "请上传文章封面图",
        },
        title: {
          required: true,
          message: "请输入文章标题",
        },
        content: {
          required: true,
          message: "请输入文章内容",
        },
        shareThumbnail: {
          required: true,
          message: "请上传分享卡片封面图",
        },
        // source_uri: [{ validator: validateSourceUri, trigger: "blur" }]
      },
      videoTypeOptions: [
        {
          label: "骑行人物",
          value: 1,
        },
        {
          label: "骑行教学",
          value: 2,
        },
        {
          label: "维护保养",
          value: 3,
        },
        {
          label: "日常训练",
          value: 4,
        },
        {
          label: "路线分享",
          value: 5,
        },
        {
          label: "特辑节目",
          value: 6,
        },
      ],
      tempRoute: {},
      articleThumbnail: null,
    };
  },
  computed: {
    contentShortLength() {
      return this.postForm.content_short.length;
    },
    lang() {
      return this.$store.getters.language;
    },
  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id;
      this.fetchData(id);
    }

    // Why need to make a copy of this.$route here?
    // Because if you enter this page and quickly switch tag, may be in the execution of the setTagsViewTitle function, this.$route is no longer pointing to the current page
    // https://github.com/PanJiaChen/vue-element-admin/issues/1221
    this.tempRoute = Object.assign({}, this.$route);
  },
  methods: {
    vidLocationChage(val) {
      console.log(val);
    },
    fetchData(id) {
      fetchArticle(id)
        .then((response) => {
          this.postForm = response.data;

          // just for test
          this.postForm.title += `   Article Id:${this.postForm.id}`;
          this.postForm.content_short += `   Article Id:${this.postForm.id}`;

          // set tagsview title
          this.setTagsViewTitle();

          // set page title
          this.setPageTitle();
        })
        .catch((err) => {
          console.log(err);
        });
    },
    setTagsViewTitle() {
      const title = this.lang === "zh" ? "编辑文章" : "Edit Article";
      const route = Object.assign({}, this.tempRoute, {
        title: `${title}-${this.postForm.id}`,
      });
      this.$store.dispatch("tagsView/updateVisitedView", route);
    },
    setPageTitle() {
      const title = "Edit Article";
      document.title = `${title} - ${this.postForm.id}`;
    },
    /**提交编辑的内容 */
    submitForm() {
      console.log(this.postForm);
      this.$refs.postForm.validate((valid) => {
        if (valid) {
          submit(this.postForm).then((res) => {
            if (res.code == 200) {
              this.loading = true;
              this.$notify({
                title: "成功",
                message: "发布文章成功",
                type: "success",
                duration: 2000,
              });
              this.postForm.status = "published";
              this.loading = false;
              this.reload;
            }
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    draftForm() {
      if (
        this.postForm.content.length === 0 ||
        this.postForm.title.length === 0
      ) {
        this.$message({
          message: "请填写必要的标题和内容",
          type: "warning",
        });
        return;
      }
      this.$message({
        message: "保存成功",
        type: "success",
        showClose: true,
        duration: 1000,
      });
      this.postForm.status = "draft";
    },
    // getRemoteUserList(query) {
    //   searchUser(query).then(response => {
    //     if (!response.data.items) return;
    //     this.userListOptions = response.data.items.map(v => v.name);
    //   });
    // }
    handleAvatarSuccess(res, file) {
      this.articleThumbnail = URL.createObjectURL(file.raw);
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return isJPG && isLt2M;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@/styles/mixin.scss";

.createPost-container {
  position: relative;

  .createPost-main-container {
    padding: 40px 45px 20px 50px;

    .postInfo-container {
      position: relative;
      @include clearfix;
      margin-bottom: 10px;

      .postInfo-container-item {
        float: left;
      }
    }
  }
  .word-counter {
    width: 40px;
    position: absolute;
    right: 10px;
    top: 0px;
  }
}
.article-textarea ::v-deep {
  textarea {
    padding-right: 40px;
    resize: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #bfcbd9;
  }
}
</style>
