<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryCityForm"
      :inline="true"
      label-width="100px"
    >
      <el-form-item label="城市名(中文)" prop="cityNameCH">
        <el-input
          v-model="queryParams.cityNameCH"
          placeholder="请输入城市名(中文)"
          clearable
          size="small"
          @keyup.enter.native="searchButton"
        />
      </el-form-item>
      <el-form-item label="城市名(英语)" prop="cityNameEN">
        <el-input
          v-model="queryParams.cityNameEN"
          placeholder="请输入城市名(英语)"
          clearable
          size="small"
          @keyup.enter.native="searchButton"
        />
      </el-form-item>
      <el-form-item label="城市状态" prop="state">
        <el-select
          v-model="queryParams.state"
          placeholder="城市状态"
          clearable
          size="small"
        >
          <el-option
            v-for="(item, index) in cityStateOptions"
            :key="index"
            :label="item.label"
            :value="item.value"
            :disabled="item.disabled"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="searchButton"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetSearchQuery"
          >重置</el-button
        >
      </el-form-item>
    </el-form>
    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          icon="el-icon-plus"
          size="mini"
          @click="addButton"
          >新增</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="updateButton"
          >修改</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="deleteOperation"
          >删除</el-button
        >
      </el-col>
      <!-- <el-col :span="1.5">
        <el-button
          type="warning"
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
        >导出</el-button>
      </el-col>-->
    </el-row>

    <el-table
      v-loading="loading"
      :data="cityList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="城市编号" align="center" prop="cityId" />
      <el-table-column label="城市状态" align="center" prop="state">
        <template scope="scope">
          <span v-if="scope.row.state == 1">可用</span>
          <span v-else-if="scope.row.state == 3">上线准备</span>
          <span v-else>不可用</span>
        </template>
      </el-table-column>
      <el-table-column
        label="城市名（中文）"
        align="center"
        prop="cityNameCH"
      />
      <el-table-column
        label="城市名（英语）"
        align="center"
        prop="cityNameEN"
      />
      <el-table-column label="城市图片" align="center" prop="cityPictureUrl">
        <!-- 图片的显示 -->
        <template slot-scope="scope">
          <img :src="scope.row.cityPictureUrl" min-width="100" height="100" />
        </template>
      </el-table-column>
      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-upload2"
            @click="uploadButton(scope.row)"
            >上线</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="updateButton(scope.row)"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="deleteOperation(scope.row)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="listCityInfo"
    />

    <el-dialog
      v-bind="$attrs"
      v-on="$listeners"
      :title="title"
      :visible.sync="dialogVisible"
    >
      <el-row :gutter="15">
        <el-form
          ref="cityForm"
          :model="cityFormData"
          :rules="rules"
          size="medium"
          label-width="100px"
        >
          <el-col :span="12">
            <el-form-item label="城市编号" prop="cityId" hidden>
              <el-input
                v-model="cityFormData.cityId"
                placeholder="请输入城市编号"
                readonly
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="城市名(中)" prop="cityNameCH">
              <el-input
                v-model="cityFormData.cityNameCH"
                placeholder="请输入城市名(中)"
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="城市名(英)" prop="cityNameEN">
              <el-input
                v-model="cityFormData.cityNameEN"
                placeholder="请输入城市名(英)"
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              prop="cityPictureUrl"
              style="margin-bottom: 30px"
              label="城市图片"
            >
              城市图片
              <Upload v-model="cityFormData.cityPictureUrl" label="上传图片" />
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <div slot="footer">
        <el-button @click="cancelButton">取消</el-button>
        <el-button type="primary" @click="confirmButton">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  listCities,
  deleteCities,
  updateCity,
  getCityById,
  addCity,
  uploadCity,
} from "@/api/city";
import Upload from "@/components/Upload/SingleImage";
export default {
  components: {
    Upload,
  },
  data() {
    return {
      queryParams: { pageNum: 1, pageSize: 10 },
      cityList: [],
      loading: false,
      title: "",
      total: 0,
      pageNum: 1,
      dialogVisible: false,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      cityFormData: {
        cityId: "",
        cityNameCH: "",
        cityNameEN: "",
        cityPictureUrl: "",
      },
      rules: {
        cityNameCH: [
          {
            required: true,
            message: "请输入城市名（中文）",
            trigger: "blur",
          },
        ],
        cityNameEN: [
          {
            required: true,
            message: "请输入城市名（英语）",
            trigger: "blur",
          },
        ],
        cityPictureUrl: [],
      },
      cityStateOptions: [
        {
          label: "可用",
          value: 1,
        },
        {
          label: "不可用",
          value: 2,
        },
        {
          label: "上线准备",
          value: 3,
        },
      ],
    };
  },
  mounted() {
    this.listCityInfo();
  },
  methods: {
    listCityInfo() {
      this.loading = true;
      listCities(this.queryParams).then((res) => {
        this.cityList = res.rows;
        this.total = res.total;
        this.loading = false;
      });
    },
    /** 新增按钮操作 */
    addButton() {
      this.openCityForm();
      this.resetCityForm();
      this.title = "添加城市";
    },
    /** 上线按钮操作 */
    uploadButton(row) {
      const cityIds = row.cityId || this.ids[0];
      uploadCity(cityIds).then((response) => {
        if (response === 1) {
          this.msgSuccess("该城市已上线。");
          this.listCityInfo();
        }
      });
    },
    /** 修改按钮操作 */
    updateButton(row) {
      const cityIds = row.cityId || this.ids[0];
      getCityById(cityIds).then((response) => {
        this.openCityForm();
        this.cityFormData = response.data[0];
        this.title = "修改城市";
      });
    },
    /** 删除按钮操作 */
    deleteOperation(row) {
      const cityIds = row.cityId || this.ids;
      this.$confirm('是否确认删除编号为"' + cityIds + '"的数据?', "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          deleteCities(cityIds).then((res) => {
            this.$message({
              type: "success",
              message: "删除成功!",
            });
            this.listCityInfo();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    /** 搜索按钮操作 */
    searchButton() {
      this.queryParams.pageNum = 1;
      this.listCityInfo();
    },
    /** 重置按钮操作 */
    resetSearchQuery() {
      this.resetForm("queryCityForm");
      this.searchButton();
    },
    /** 多选框选中数据 */
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.cityId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 取消按钮操作 */
    cancelButton() {
      this.resetCityForm();
      this.closeCityForm();
    },
    /** 打开 City 表单 */
    openCityForm() {
      this.dialogVisible = true;
    },
    /** 关闭 City 表单 */
    closeCityForm() {
      this.dialogVisible = false;
    },
    /** 清空 City 表单 */
    resetCityForm() {
      this.$refs["cityForm"].resetFields();
    },
    /** 新增或更改城市信息确认按钮 */
    confirmButton() {
      this.$refs["cityForm"].validate((valid) => {
        if (valid) {
          if (this.cityFormData.cityId != "") {
            updateCity(this.cityFormData).then((response) => {
              if (response === 1) {
                this.msgSuccess("修改城市成功。");
                this.resetCityForm();
                this.closeCityForm();
                this.listCityInfo();
              }
            });
          } else {
            addCity(this.cityFormData).then((response) => {
              if (response === 1) {
                this.msgSuccess("添加城市成功。");
                this.resetCityForm();
                this.closeCityForm();
                this.listCityInfo();
              }
            });
          }
        } else {
          console.log("确认失败！");
          return false;
        }
      });
    },
  },
};
</script>