<template>
  <div>
    <el-table v-loading="loading" :data="cardList">
      <el-table-column label="卡片编号" align="center" prop="cardId" />
      <el-table-column label="卡片城市" align="center" prop="cityType">
        <template scope="scope">
          <span v-if="scope.row.cityType==1">上海</span>
          <span v-else-if="scope.row.cityType==2">北京</span>
          <span v-else-if="scope.row.cityType==3">广州</span>
          <span v-else>其它城市</span>
        </template>
      </el-table-column>
      <!-- <el-table-column label="卡片标题" align="center" prop="cardTitle" />
      <el-table-column label="卡片内容" align="center" prop="cardContent" />-->
      <el-table-column label="卡片图片" align="center" prop="cardPicUrl" />
      <el-table-column label="卡片链接" align="center" prop="cardLink" />
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <!-- <el-button size="mini" type="text" icon="el-icon-view" @click="preview(scope.row)">内容预览</el-button> -->

          <el-button size="mini" type="text" icon="el-icon-edit" @click="handleUpdate(scope.row)">修改</el-button>
          <!-- v-hasPermi="['system:dept:edit']" -->

          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
          >删除</el-button>
          <!-- v-hasPermi="['member:log:remove']" -->
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="doGetPage"
    />

    <el-dialog
      v-bind="$attrs"
      v-on="$listeners"
      @open="onOpen"
      @close="onClose"
      :title="title"
      :visible.sync="dialogVisible"
    >
      <el-row :gutter="15">
        <el-form
          ref="cardForm"
          :model="cardFormData"
          :rules="rules"
          size="medium"
          label-width="100px"
        >
          <el-col :span="12">
            <el-form-item label="卡片编号" prop="cardId">
              <el-input
                v-model="cardFormData.cardId"
                placeholder="请输入卡片编号"
                readonly
                clearable
                :style="{width: '100%'}"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="卡片链接" prop="cardLink">
              <el-input
                v-model="cardFormData.cardLink"
                placeholder="请输入卡片链接"
                clearable
                :style="{width: '100%'}"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item prop="cardPicUrl" style="margin-bottom: 30px;" label="封面图片">
              卡片图片，image
              <Upload v-model="cardFormData.cardPicUrl" label="上传图片" />
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <div slot="footer">
        <el-button @click="close">取消</el-button>
        <el-button type="primary" @click="handelConfirm">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { page, doDeleteCard, updateCard } from "@/api/card";
import Tinymce from "@/components/Tinymce";
import Upload from "@/components/Upload/SingleImage";
import Upload2 from "@/components/Upload/SingleImage2";
import Upload3 from "@/components/Upload/SingleImage3";
import MDinput from "@/components/MDinput";
import {
  CommentDropdown,
  PlatformDropdown,
  SourceUrlDropdown
} from "../example/components/Dropdown";
export default {
  inheritAttrs: false,
  components: {
    Upload,
    Upload2,
    Upload3
  },
  props: [],
  data() {
    return {
      cardFormData: {
        cardId: undefined,
        cardLink: undefined
      },
      queryParams: { pageNum: 1, pageSize: 10 },
      cardList: [],
      loading: false,
      title: "",
      total: 0,
      pageNum: 1,
      dialogVisible: false,
      toPreview: null,
      rules: {
        cardId: [
          {
            required: true,
            message: "请输入卡片编号",
            trigger: "blur"
          }
        ],
        cardLink: [
          {
            required: true,
            message: "请输入卡片链接",
            trigger: "blur"
          }
        ],
        cardPicUrl: [
          {
            required: true,
            message: "请输入卡片图片",
            trigger: "blur"
          }
        ]
      }
    };
  },
  mounted() {
    this.doGetPage();
  },
  methods: {
    onOpen() {},
    onClose() {
      this.$refs["cardForm"].resetFields();
    },
    close() {
      this.dialogVisible = false;
      this.$refs["cardForm"].resetFields();
    },
    handelConfirm() {
      this.$refs["cardForm"].validate(valid => {
        if (valid) {
          updateCard(this.cardFormData).then(response => {
            if (response === 1) {
              this.msgSuccess("修改卡片成功。");
              this.$refs["cardForm"].resetFields();
              this.dialogVisible = false;
              this.doGetPage();
            }
          });
        } else {
          console.log("提交失败！");
          return false;
        }
      });
    },
    doGetPage() {
      this.loading = true;
      page(this.queryParams).then(res => {
        console.log(res);
        this.cardList = res.rows;
        this.total = res.total;
        this.loading = false;
      });
    },
    handleClose(done) {
      this.toPreview = null;
      done();
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.dialogVisible = true;
      this.cardFormData.cardId = row.cardId;
      this.cardFormData.cardLink = row.cardLink;
      this.title = "修改卡片内容";
    },
    handleDelete(row) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          doDeleteCard(row.cardId).then(res => {
            this.$message({
              type: "success",
              message: "删除成功!"
            });
            this.doGetPage();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    }
  }
};
</script>