<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryCardForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="图片链接" prop="cardPicUrl">
        <el-input
          v-model="queryParams.cardPicUrl"
          placeholder="请输入卡片图片链接"
          clearable
          size="small"
          @keyup.enter.native="handleCardQuery"
        />
      </el-form-item>
      <el-form-item label="卡片链接" prop="cardLink">
        <el-input
          v-model="queryParams.cardLink"
          placeholder="请输入卡片链接"
          clearable
          size="small"
          @keyup.enter.native="handleCardQuery"
        />
      </el-form-item>
      <el-form-item label="卡片城市" prop="cityType">
        <el-select
          v-model="queryParams.cityType"
          placeholder="请输入卡片城市"
          clearable
          size="small"
        >
          <el-option
            v-for="(item, index) in cityTypeOptions"
            :key="index"
            :label="item.cityNameCH"
            :value="item.cityId"
            :disabled="item.disabled"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleCardQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetCardQuery"
          >重置</el-button
        >
      </el-form-item>
    </el-form>

    <el-table v-loading="loading" :data="cardList">
      <el-table-column label="卡片编号" align="center" prop="cardId" />
      <el-table-column label="卡片城市" align="center" prop="cityType">
        <template scope="scope">
          <span v-if="scope.row.cityType == 1">上海</span>
          <span v-else-if="scope.row.cityType == 2">北京</span>
          <span v-else-if="scope.row.cityType == 3">广州</span>
          <span v-else-if="scope.row.cityType == 4">南京</span>
          <span v-else-if="scope.row.cityType == 5">成都</span>
          <span v-else-if="scope.row.cityType == 6">福州</span>
          <span v-else-if="scope.row.cityType == 7">苏州</span>
          <span v-else-if="scope.row.cityType == 8">太原</span>
          <span v-else-if="scope.row.cityType == 9">昆明</span>
          <span v-else-if="scope.row.cityType == 10">杭州</span>
          <span v-else>其它城市</span>
        </template>
      </el-table-column>
      <!-- <el-table-column label="卡片标题" align="center" prop="cardTitle" />
      <el-table-column label="卡片内容" align="center" prop="cardContent" />-->
      <el-table-column label="卡片图片" align="center" prop="cardPicUrl">
        <!-- 图片的显示 -->
        <template slot-scope="scope">
          <img :src="scope.row.cardPicUrl" min-width="100" height="100" />
        </template>
      </el-table-column>
      <el-table-column label="卡片图片链接" align="center" prop="cardPicUrl" />
      <el-table-column label="卡片链接" align="center" prop="cardLink" />
      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <!-- <el-button size="mini" type="text" icon="el-icon-view" @click="preview(scope.row)">内容预览</el-button> -->

          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            >修改</el-button
          >
          <!-- v-hasPermi="['system:dept:edit']" -->

          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            >删除</el-button
          >
          <!-- v-hasPermi="['member:log:remove']" -->
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="doGetPage"
    />

    <el-dialog
      v-bind="$attrs"
      v-on="$listeners"
      @open="onOpen"
      @close="onClose"
      :title="title"
      :visible.sync="dialogVisible"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-row :gutter="15">
        <el-form
          ref="cardForm"
          :model="cardFormData"
          :rules="rules"
          size="medium"
          label-width="100px"
        >
          <el-col :span="12">
            <el-form-item label="卡片编号" prop="cardId" hidden>
              <el-input
                v-model="cardFormData.cardId"
                placeholder="请输入卡片编号"
                readonly
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="卡片名称" prop="cardTitle">
              <el-input
                v-model="cardFormData.cardTitle"
                placeholder="请输入卡片名称"
                :maxlength="28"
                show-word-limit
                clearable
                prefix-icon="el-icon-postcard"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="卡片城市" prop="cityType">
              <el-select
                v-model="cardFormData.cityType"
                placeholder="请选择卡片城市"
                clearable
                :style="{ width: '100%' }"
              >
                <el-option
                  v-for="(item, index) in cityTypeOptions"
                  :key="index"
                  :label="item.cityNameCH"
                  :value="item.cityId"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="卡片链接" prop="cardLink">
              <el-input
                v-model="cardFormData.cardLink"
                placeholder="请输入卡片链接"
                clearable
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              prop="cardContent"
              style="margin-bottom: 30px"
              label="卡片描述"
            >
              <quill-editor
                ref="text"
                v-model="cardFormData.cardContent"
                class="myQuillEditor"
                :options="editorOption"
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              prop="cardPicUrl"
              style="margin-bottom: 30px"
              label="封面图片"
            >
              卡片图片，image
              <Upload v-model="cardFormData.cardPicUrl" label="上传图片" />
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <div slot="footer">
        <el-button @click="close">取消</el-button>
        <el-button type="primary" @click="handelConfirm">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  page,
  doDeleteCard,
  updateCard,
  selectCityDropdownList,
} from "@/api/card";
import Upload from "@/components/Upload/SingleImage";
import { quillEditor } from "vue-quill-editor";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
export default {
  inheritAttrs: false,
  components: {
    quillEditor,
    Upload,
  },
  props: [],
  created() {
    this.getCityTypeOptions();
  },
  data() {
    return {
      editorOption: {
        placeholder: "请输入卡片详情描述...",
        modules: {
          toolbar: [],
        },
      },
      cardFormData: {
        cardId: "",
        cardTitle: "",
        cityType: "",
        cardLink: "",
        cardContent: "",
      },
      queryParams: { pageNum: 1, pageSize: 10 },
      cardList: [],
      loading: false,
      title: "",
      total: 0,
      pageNum: 1,
      dialogVisible: false,
      toPreview: null,
      rules: {
        cardId: [
          {
            required: true,
            message: "请输入卡片编号",
            trigger: "blur",
          },
        ],
        cardTitle: [
          {
            //   required: true,
            //   message: '请输入卡片名称',
            //   trigger: 'blur'
          },
        ],
        cityType: [
          {
            required: true,
            message: "请选择卡片城市",
            trigger: "change",
          },
        ],
        cardLink: [
          {
            required: true,
            message: "请输入卡片链接",
            trigger: "blur",
          },
        ],
        cardContent: [
          {
            //   required: true,
            //   message: '请输入卡片描述',
            //   trigger: 'blur'
          },
        ],
        cardPicUrl: [
          {
            required: true,
            message: "请输入卡片图片",
            trigger: "blur",
          },
        ],
      },
      // 城市数据
      cityTypeOptions: [],
    };
  },
  mounted() {
    this.doGetPage();
  },
  methods: {
    onOpen() {},
    onClose() {
      this.$refs["cardForm"].resetFields();
    },
    close() {
      this.dialogVisible = false;
      this.$refs["cardForm"].resetFields();
    },
    handelConfirm() {
      this.$refs["cardForm"].validate((valid) => {
        if (valid) {
          updateCard(this.cardFormData).then((response) => {
            if (response === 1) {
              this.msgSuccess("修改卡片成功。");
              this.$refs["cardForm"].resetFields();
              this.dialogVisible = false;
              this.doGetPage();
            }
          });
        } else {
          console.log("提交失败！");
          return false;
        }
      });
    },
    doGetPage() {
      this.loading = true;
      page(this.queryParams).then((res) => {
        console.log(res);
        this.cardList = res.rows;
        this.total = res.total;
        this.loading = false;
      });
    },
    handleClose(done) {
      this.toPreview = null;
      done();
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.dialogVisible = true;
      this.cardFormData = row.data;
      this.title = "修改卡片内容";
    },
    handleDelete(row) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          doDeleteCard(row.cardId).then((res) => {
            this.$message({
              type: "success",
              message: "删除成功!",
            });
            this.doGetPage();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    /** 搜索按钮操作 */
    handleCardQuery() {
      this.queryParams.pageNum = 1;
      this.doGetPage();
    },
    /** 重置按钮操作 */
    resetCardQuery() {
      this.resetForm("queryCardForm");
      this.handleCardQuery();
    },
    getCityTypeOptions() {
      selectCityDropdownList().then((res) => {
        this.cityTypeOptions = res.data;
      });
    },
  },
};
</script>
<style>
.edit_container {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.ql-editor {
  height: 200px;
}
</style>