<template>
  <div class="app-container">
    <el-table v-loading="loading" :data="pizzaList">
      <el-table-column label="ID" align="center" prop="pizzaGetterId" />
      <el-table-column label="状态" align="center" prop="state">
        <template scope="scope">
          <span v-if="scope.row.state == 1">可用</span>
          <span v-else-if="scope.row.state == 3">上线准备</span>
          <span v-else>不可用</span>
        </template>
      </el-table-column>
      <el-table-column label="用户ID" align="center" prop="userId" />
      <el-table-column label="微信ID" align="center" prop="weChatId" />
      <el-table-column
        label="活动图片"
        align="center"
        prop="returnPizzaPictureInfo"
      >
        <!-- 多张图片的显示 -->
        <template scope="scope">
          <img
            v-for="item in scope.row.returnPizzaPictureInfo"
            :key="item"
            :src="item"
            width="100"
            height="100"
          />
        </template>
      </el-table-column>
      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-check"
            @click="auditSuccess(scope.row)"
            >通过</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-close"
            @click="auditFail(scope.row)"
            >拒绝</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="listPizzaInfo"
    />
  </div>
</template>
<script>
import { listPizza, addActivityPicture, auditPizzaSuccess, auditPizzaFail } from "@/api/pizza";
import { getToken, uploadFile } from "@/api/qiniu";
export default {
  components: {},
  data() {
    return {
      uploadFile: null,
      uploadFileName: "",
      uploadToken: "",
      tempUrl: "",
      dataObj: { token: "" },
      uploadFileAction: "https://upload-z2.qiniup.com",
      uploadFilefileList: [],
      queryParams: { pageNum: 1, pageSize: 10 },
      pizzaList: [],
      loading: false,
      title: "",
      total: 0,
      pageNum: 1,
      dialogVisible: false,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      activityPictureFormData: {
        returnActivityPictureInfoId: "",
        returnActivityNameInfo: "",
        returnActivityPictureInfo: [],
      },
      rules: {
        returnActivityNameInfo: [
          {
            required: true,
            message: "请选择活动名称",
            trigger: "change",
          },
        ],
        returnActivityPictureInfo: [],
      },
      activityOptions: [],
    };
  },
  mounted() {
    this.listPizzaInfo();
  },
  methods: {
    // 上传七牛云前的校验。
    uploadFileBeforeUpload(file) {
      let isRightSize = file.size / 1024 / 1024 < 10;
      if (!isRightSize) {
        this.$message.error("文件大小超过 10MB");
      }
      let isAccept = new RegExp("image/*").test(file.type);
      if (!isAccept) {
        this.$message.error("应该选择image/*类型的文件");
      }

      this.loading = true;
      const _self = this;
      return new Promise((resolve, reject) => {
        getToken()
          .then((response) => {
            console.log(response);
            const token = response.data.token;
            console.log("token is: " + token);
            _self.dataObj.token = token;
            this.tempUrl = "https://images.club100.cn/" + response.key;
            resolve(true);
            this.uploadFile = file;
            this.uploadToken = token;
          })
          .catch((err) => {
            console.log(err);
            reject(false);
          });
      });
      return isRightSize && isAccept;
    },
    // 上传文件到七牛云。
    uploadQiNiu(req) {
      var randomFileName =
        this.getRandomValue() + "." + this.getFileSuffix(this.uploadFile.name);

      console.log("randomFileName: " + randomFileName);

      const formdata = new FormData();
      formdata.append("file", this.uploadFile);
      formdata.append("token", this.uploadToken);
      formdata.append("key", randomFileName);

      // 获取到凭证之后再将文件上传到七牛云空间。
      uploadFile(formdata)
        .then((response) => {
          console.log(response);

          this.activityPictureFormData.returnActivityPictureInfoId = this.activityPictureFormData.returnActivityNameInfo;
          var tempArray = [];
          tempArray.push("https://images.club100.cn/" + randomFileName);
          this.activityPictureFormData.returnActivityPictureInfo = tempArray;
          addActivityPicture(this.activityPictureFormData).then((response) => {
            if (response == 1) {
              this.msgSuccess("添加活动图片成功。");
            }
          });
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getRandomValue() {
      var mydate = new Date();
      var uuid =
        mydate.getDay() +
        mydate.getHours() +
        mydate.getMinutes() +
        mydate.getSeconds() +
        mydate.getMilliseconds() +
        Math.round(Math.random() * 10000);
      var randomNumbers = (((1 + Math.random()) * 0x10000) | 0)
        .toString(16)
        .substring(1);
      return (
        uuid + "_" + randomNumbers + "_" + randomNumbers + "_" + randomNumbers
      );
    },
    getFileSuffix(filePathOrName) {
      // 传入的参数为文件路径或者文件名。
      // 获取最后一个.的位置。
      var index = filePathOrName.lastIndexOf(".");
      // 获取文件路径或者文件名的后缀。
      var fileSuffix = filePathOrName.substr(index + 1);
      return fileSuffix;
    },
    listPizzaInfo() {
      this.loading = true;
      listPizza(this.queryParams).then((res) => {
        this.pizzaList = res.rows;
        this.total = res.total;
        this.loading = false;
      });
    },
    /** 审核通过操作 */
    auditSuccess(row) {
      const pizzaGetterId = row.pizzaGetterId;
      auditPizzaSuccess(pizzaGetterId).then((response) => {
        if (response === 1) {
          this.msgSuccess("审核通过。");
          this.listPizzaInfo();
        }
      });
    },
    /** 审核失败操作 */
    auditFail(row) {
        const pizzaGetterId = row.pizzaGetterId;
      auditPizzaFail(pizzaGetterId).then((response) => {
        if (response === 1) {
          this.msgSuccess("审核未通过。");
          this.listPizzaInfo();
        }
      });
    },
    /** 取消按钮操作 */
    cancelButton() {
      this.resetActivityPictureForm();
      this.closeActivityPictureForm();
    },
    /** 打开活动图片表单 */
    openActivityPictureForm() {
      this.dialogVisible = true;
    },
    /** 关闭活动图片表单 */
    closeActivityPictureForm() {
      this.dialogVisible = false;
    },
    /** 清空活动图片表单 */
    resetActivityPictureForm() {
      this.$refs["activityPictureForm"].resetFields();
    },
  },
};
</script>