<template>
  <div>
    <el-table v-loading="loading" :data="routeDetailList">
      <el-table-column label="路线编号" align="center" prop="routeId" />
      <el-table-column label="GPX 文件路径" align="center" prop="gpxUrl" />
      <el-table-column label="路线提供者" align="center" prop="routeProvider" />
      <el-table-column label="路线地区" align="center" prop="routeDistrict" />
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="doGetPage"
    />

    <el-dialog title="内容预览" :visible.sync="dialogVisible" width="90%" :before-close="handleClose">
      <span v-html="toPreview">这是一段信息</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { page } from "@/api/routeDetail";
export default {
  data() {
    return {
      queryParams: { pageNum: 1, pageSize: 10 },
      routeDetailList: [],
      loading: false,
      total: 0,
      pageNum: 1,
      dialogVisible: false,
      toPreview: null
    };
  },
  mounted() {
    this.doGetPage();
  },
  methods: {
    doGetPage() {
      this.loading = true;
      page(this.queryParams).then(res => {
        console.log(res);
        this.routeDetailList = res.rows;
        this.total = res.total;
        this.loading = false;
      });
    },
    // preview(row) {
    //   this.dialogVisible = true;
    //   this.toPreview = row.cardContent;
    // },
    handleClose(done) {
      this.toPreview = null;
      done();
    },
    /** 修改按钮操作 */
    // handleUpdate(row) {
    //   this.reset();
    //   this.dialogVisible = true;
    //   this.formData.title = row.title;
    //   this.formData.vid = row.vid;
    //   this.formData.atricleId = row.atricleId;
    //   this.title = "修改文章内容";
    // },
    handleDelete(row) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          doDeleteRoute(row.routeId).then(res => {
            this.$message({
              type: "success",
              message: "删除成功!"
            });
            this.doGetPage();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    }
  }
};
</script>