<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryRouteForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="路线名称" prop="routeName">
        <el-input
          v-model="queryParams.routeName"
          placeholder="请输入路线名称"
          clearable
          size="small"
          @keyup.enter.native="handleRouteQuery"
        />
      </el-form-item>
      <!-- <el-form-item label="卡片链接" prop="cardLink">
        <el-input
          v-model="queryParams.cardLink"
          placeholder="请输入卡片链接"
          clearable
          size="small"
          @keyup.enter.native="handleRouteQuery"
        />
      </el-form-item>-->
      <el-form-item label="路线城市" prop="cityType">
        <el-select
          v-model="queryParams.cityType"
          placeholder="请输入路线城市"
          clearable
          size="small"
        >
          <el-option
            v-for="(item, index) in cityTypeOptions"
            :key="index"
            :label="item.cityNameCH"
            :value="item.cityId"
            :disabled="item.disabled"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleRouteQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetRouteQuery"
          >重置</el-button
        >
      </el-form-item>
    </el-form>

    <el-table v-loading="loading" :data="routeList">
      <el-table-column label="路线编号" align="center" prop="routeId" />
      <el-table-column label="路线状态" align="center" prop="state">
        <template scope="scope">
          <span v-if="scope.row.state == 1">可用</span>
          <span v-else-if="scope.row.state == 3">上线准备</span>
          <span v-else>不可用</span>
        </template>
      </el-table-column>
      <el-table-column label="路线城市" align="center" prop="cityType">
        <template scope="scope">
          <span v-if="scope.row.cityType == 1">上海</span>
          <span v-else-if="scope.row.cityType == 2">北京</span>
          <span v-else-if="scope.row.cityType == 3">广州</span>
          <span v-else-if="scope.row.cityType == 4">南京</span>
          <span v-else-if="scope.row.cityType == 5">成都</span>
          <span v-else-if="scope.row.cityType == 6">福州</span>
          <span v-else-if="scope.row.cityType == 7">苏州</span>
          <span v-else-if="scope.row.cityType == 8">太原</span>
          <span v-else-if="scope.row.cityType == 9">昆明</span>
          <span v-else-if="scope.row.cityType == 10">杭州</span>
          <span v-else>其它城市</span>
        </template>
      </el-table-column>
      <el-table-column label="路线名称" align="center" prop="routeName" />
      <el-table-column label="路线爬升" align="center" prop="climb" />
      <el-table-column label="路线距离" align="center" prop="distance" />
      <el-table-column label="路线难度" align="center" prop="difficultyLevel" />
      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-upload2"
            @click="uploadButton(scope.row)"
            >上线</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            >修改</el-button
          >
          <!-- v-hasPermi="['system:dept:edit']" -->

          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            >删除</el-button
          >
          <!-- v-hasPermi="['member:log:remove']" -->
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="doGetPage"
    />

    <el-dialog
      v-bind="$attrs"
      v-on="$listeners"
      @open="onOpen"
      @close="onClose"
      :title="title"
      :visible.sync="dialogVisible"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-row :gutter="15">
        <el-form
          ref="routeForm"
          :model="routeFormData"
          :rules="rules"
          size="medium"
          label-width="100px"
        >
          <el-col :span="12" hidden>
            <el-form-item label="路线编号" prop="routeId">
              <el-input
                v-model="routeFormData.routeId"
                placeholder="请输入路线编号"
                readonly
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="路线名称" prop="routeName">
              <el-input
                v-model="routeFormData.routeName"
                placeholder="请输入路线名称"
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              prop="routeDescription"
              style="margin-bottom: 30px"
              label="路线描述"
            >
              <quill-editor
                ref="text"
                v-model="routeFormData.routeDescription"
                class="myQuillEditor"
                :options="editorOption"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="路线提供者" prop="routeProvider">
              <el-input
                v-model="routeFormData.routeProvider"
                placeholder="请输入路线提供者"
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="路线地区" prop="routeDistrict">
              <el-input
                v-model="routeFormData.routeDistrict"
                placeholder="请输入路线地区"
                clearable
                prefix-icon="el-icon-bicycle"
                :style="{ width: '100%' }"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="路线距离" prop="distance">
              <el-input-number
                v-model="routeFormData.distance"
                placeholder="路线距离(单位：KM)"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="路线爬升" prop="climb">
              <el-input-number
                v-model="routeFormData.climb"
                placeholder="路线爬升(单位：M)"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="路线城市" prop="cityType">
              <el-select
                v-model="routeFormData.cityType"
                placeholder="请选择路线城市"
                clearable
                :style="{ width: '100%' }"
              >
                <el-option
                  v-for="(item, index) in cityTypeOptions"
                  :key="index"
                  :label="item.cityNameCH"
                  :value="item.cityId"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="路线类型" prop="routeType">
              <el-select
                v-model="routeFormData.routeType"
                placeholder="请选择路线类型"
                clearable
                :style="{ width: '100%' }"
              >
                <el-option
                  v-for="(item, index) in routeTypeOptions"
                  :key="index"
                  :label="item.label"
                  :value="item.value"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="路线地形" prop="routeTerrain">
              <el-select
                v-model="routeFormData.routeTerrain"
                placeholder="请选择路线地形"
                clearable
                :style="{ width: '100%' }"
              >
                <el-option
                  v-for="(item, index) in routeTerrainOptions"
                  :key="index"
                  :label="item.label"
                  :value="item.value"
                  :disabled="item.disabled"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <div slot="footer">
        <el-button @click="close">取消</el-button>
        <el-button type="primary" @click="handelConfirm">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  page,
  doDeleteRoute,
  updateRoute,
  updateRouteDetail,
  selectCityDropdownList,
  uploadRoute,
} from "@/api/route";
import { quillEditor } from "vue-quill-editor";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
export default {
  inheritAttrs: false,
  components: {
    quillEditor,
  },
  props: [],
  data() {
    return {
      editorOption: {
        placeholder: "请输入路线详情描述...",
        modules: {
          toolbar: [],
        },
      },
      queryParams: { pageNum: 1, pageSize: 10 },
      routeList: [],
      loading: false,
      title: "",
      total: 0,
      pageNum: 1,
      dialogVisible: false,
      toPreview: null,
      routeFormData: {
        routeId: undefined,
        routeName: undefined,
        routeDescription: undefined,
        routeProvider: undefined,
        routeDistrict: undefined,
        climb: undefined,
        distance: undefined,
        cityType: undefined,
        routeType: undefined,
        routeTerrain: undefined,
      },
      rules: {
        routeId: [
          {
            required: true,
            message: "请输入路线编号",
            trigger: "blur",
          },
        ],
        routeName: [
          {
            required: true,
            message: "请输入路线名称",
            trigger: "blur",
          },
        ],
        routeDescription: [
          {
            required: true,
            message: "请输入路线描述",
            trigger: "blur",
          },
        ],
        routeProvider: [],
        routeDistrict: [
          {
            required: true,
            message: "请输入路线地区",
            trigger: "blur",
          },
        ],
        distance: [
          {
            required: true,
            message: "请输入路线距离",
            trigger: "blur",
          },
          {
            pattern: /^[0-9]+([.]{1}[0-9]+){0,1}$/,
            message: "请输入整数或小数数字",
            trigger: "blur",
          },
        ],
        climb: [
          {
            required: true,
            message: "请输入路线爬升",
            trigger: "blur",
          },
          {
            pattern: /^[0-9]+([.]{1}[0-9]+){0,1}$/,
            message: "请输入整数或小数数字",
            trigger: "blur",
          },
        ],
        cityType: [
          {
            required: true,
            message: "请选择路线城市",
            trigger: "change",
          },
        ],
        routeType: [
          {
            required: true,
            message: "请选择路线类型",
            trigger: "change",
          },
        ],
        routeTerrain: [
          {
            required: true,
            message: "请选择路线地形",
            trigger: "change",
          },
        ],
      },
      cityTypeOptions: [],
      routeTypeOptions: [
        {
          label: "绕圈",
          value: 1,
        },
        {
          label: "休闲",
          value: 2,
        },
        {
          label: "进阶",
          value: 3,
        },
        {
          label: "高阶",
          value: 4,
        },
        {
          label: "挑战",
          value: 5,
        },
      ],
      routeTerrainOptions: [
        {
          label: "平路",
          value: 1,
        },
        {
          label: "起伏",
          value: 2,
        },
        {
          label: "爬坡",
          value: 3,
        },
      ],
    };
  },
  mounted() {
    this.doGetPage();
  },
  created() {
    this.getCityTypeOptions();
  },
  methods: {
    onOpen() {},
    onClose() {
      this.$refs["routeForm"].resetFields();
    },
    close() {
      this.$refs["routeForm"].resetFields();
      this.dialogVisible = false;
    },
    handelConfirm() {
      this.$refs["routeForm"].validate((valid) => {
        if (valid) {
          updateRoute(this.routeFormData).then((response) => {
            if (response === 1) {
              updateRouteDetail(this.routeFormData).then((response) => {
                if (response === 1) {
                  this.msgSuccess("修改路线成功。");
                  this.$refs["routeForm"].resetFields();
                  this.dialogVisible = false;
                  this.doGetPage();
                }
              });
            }
          });
        } else {
          console.log("修改失败！");
          return false;
        }
      });
    },
    doGetPage() {
      this.loading = true;
      page(this.queryParams).then((res) => {
        console.log(res);
        this.routeList = res.rows;
        this.total = res.total;
        this.loading = false;
      });
    },
    handleClose(done) {
      this.toPreview = null;
      done();
    },
    /** 上线按钮操作 */
    uploadButton(row) {
      const routeId = row.routeId;
      uploadRoute(routeId).then((response) => {
        if (response === 1) {
          this.msgSuccess("该路线已上线。");
          this.doGetPage();
        }
      });
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.dialogVisible = true;
      this.routeFormData.routeId = row.routeId;
      this.routeFormData.routeName = row.routeName;
      this.routeFormData.routeDescription = row.routeDescription;
      this.routeFormData.routeProvider = row.routeProvider;
      this.routeFormData.routeDistrict = row.routeDistrict;
      this.routeFormData.climb = row.climb;
      this.routeFormData.distance = row.distance;
      this.routeFormData.cityType = row.cityType;
      this.routeFormData.routeType = row.routeType;
      this.routeFormData.routeTerrain = row.routeTerrain;
      this.title = "修改路线内容";
    },
    handleDelete(row) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          doDeleteRoute(row.routeId).then((res) => {
            this.$message({
              type: "success",
              message: "删除成功!",
            });
            this.doGetPage();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    /** 搜索按钮操作 */
    handleRouteQuery() {
      this.queryParams.pageNum = 1;
      this.doGetPage();
    },
    /** 重置按钮操作 */
    resetRouteQuery() {
      this.resetForm("queryRouteForm");
      this.handleRouteQuery();
    },
    getCityTypeOptions() {
      selectCityDropdownList().then((res) => {
        this.cityTypeOptions = res.data;
      });
    },
  },
};
</script>
<style>
.edit_container {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.ql-editor {
  height: 200px;
}
</style>
