<template>
  <div class="app-container">
    <el-form
      ref="transformForm"
      :model="transformFormData"
      :rules="rules"
      size="medium"
      label-width="100px"
    >
      <el-form-item label="GPX URL" prop="gpxFileUrl">
        <el-input
          v-model="transformFormData.gpxFileUrl"
          placeholder="请输入GPX URL"
          clearable
          :style="{ width: '100%' }"
        ></el-input>
      </el-form-item>
      <el-form-item size="large">
        <el-button type="primary" @click="submitForm">提交</el-button>
        <el-button @click="resetForm">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import { transformGpxFileToJson } from "@/api/transform";
export default {
  components: {},
  props: [],
  data() {
    return {
      transformFormData: {
        gpxFileUrl: undefined,
      },
      rules: {
        gpxFileUrl: [
          {
            required: true,
            message: "请输入GPX URL",
            trigger: "blur",
          },
        ],
      },
    };
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {},
  methods: {
    submitForm() {
      this.$refs["transformForm"].validate((valid) => {
        if (!valid) return;
        /** 将 GPX 文件转为 JSON。 */
        transformGpxFileToJson(this.transformFormData).then((response) => {
          if (response === 1) {
            this.msgSuccess("文件转换成功。");
            this.resetForm();
          }
        });
      });
    },
    resetForm() {
      this.$refs["transformForm"].resetFields();
    },
  },
};
</script>
<style>
</style>
