<template>
  <div class="upload-container">
    <el-upload
      v-loading="loading"
      element-loading-text="正在上传中。。。"
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.8)"
      :data="dataObj"
      :multiple="false"
      :show-file-list="false"
      :on-success="handleImageSuccess"
      :before-upload="beforeUpload"
      class="image-uploader"
      drag
      action="https://upload-z2.qiniup.com"
    >
      <i class="el-icon-upload" />
      <div class="el-upload__text">
        请将文件拖到此处，或<em>点击上传</em>
      </div>
    </el-upload>
    <div class="image-preview">
      <div
        v-show="imageUrl.length>1"
        class="image-preview-wrapper"
      >
        <img :src="imageUrl+'?imageView2/1/w/200/h/200'">
        <div class="image-preview-action">
          <i
            class="el-icon-delete"
            @click="rmImage"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getToken } from "@/api/qiniu";

export default {
  name: "SingleImageUpload",
  props: {
    value: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      tempUrl: "",
      dataObj: { token: "" },
      loading: false
    };
  },
  computed: {
    imageUrl() {
      return this.value;
    }
  },
  methods: {
    rmImage() {
      this.emitInput("");
    },
    emitInput(val) {
      this.$emit("input", val);
    },
    handleImageSuccess(event, file, fileList) {
      console.log(
        "event：" +
          JSON.stringify(event) +
          ",file:" +
          JSON.stringify(file) +
          "fileList:" +
          JSON.stringify(fileList)
      );
      this.tempUrl = "https://images.club100.cn/" + event.key;
      this.emitInput(this.tempUrl);
      this.loading = false;
    },
    beforeUpload(file) {
      this.loading = true;
      const _self = this;
      return new Promise((resolve, reject) => {
        getToken()
          .then(response => {
            console.log(response);
            // const key = response.data.qiniu_key;
            const token = response.data.token;
            console.log("token is: " + token);
            _self.dataObj.token = token;
            this.tempUrl = "https://images.club100.cn/" + response.key;
            resolve(true);
          })
          .catch(err => {
            console.log(err);
            reject(false);
          });
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~@/styles/mixin.scss";
.upload-container {
  width: 100%;
  position: relative;
  @include clearfix;
  .image-uploader {
    width: 60%;
    float: left;
  }
  .image-preview {
    width: 200px;
    height: 200px;
    position: relative;
    border: 1px dashed #d9d9d9;
    float: left;
    margin-left: 50px;
    .image-preview-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .image-preview-action {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      cursor: default;
      text-align: center;
      color: #fff;
      opacity: 0;
      font-size: 20px;
      background-color: rgba(0, 0, 0, 0.5);
      transition: opacity 0.3s;
      cursor: pointer;
      text-align: center;
      line-height: 200px;
      .el-icon-delete {
        font-size: 36px;
      }
    }
    &:hover {
      .image-preview-action {
        opacity: 1;
      }
    }
  }
}
</style>
