<template>
  <div class="app-container">
    <el-row :gutter="15">
      <el-form
        ref="cardForm"
        :model="cardForm"
        :rules="rules"
        size="medium"
        label-width="100px"
      >
        <el-col :span="12">
          <el-form-item label="卡片名称" prop="cardTitle">
            <el-input
              v-model="cardForm.cardTitle"
              placeholder="请输入卡片名称"
              :maxlength="28"
              show-word-limit
              clearable
              prefix-icon="el-icon-postcard"
              :style="{ width: '100%' }"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="卡片城市" prop="cityType">
            <el-select
              v-model="cardForm.cityType"
              placeholder="请选择卡片城市"
              clearable
              :style="{ width: '100%' }"
            >
              <el-option
                v-for="(item, index) in cityTypeOptions"
                :key="index"
                :label="item.cityNameCH"
                :value="item.cityId"
                :disabled="item.disabled"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item label="卡片链接" prop="cardLink">
            <el-input
              v-model="cardForm.cardLink"
              placeholder="请输入卡片链接"
              :maxlength="50"
              show-word-limit
              clearable
              prefix-icon="el-icon-link"
              :style="{ width: '100%' }"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item
            prop="cardContent"
            style="margin-bottom: 30px"
            label="卡片描述"
          >
            <quill-editor
              ref="text"
              v-model="cardForm.cardContent"
              class="myQuillEditor"
              :options="editorOption"
            />
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item
            prop="cardPicUrl"
            style="margin-bottom: 30px"
            label="卡片图片"
          >
            卡片的图片，image
            <Upload v-model="cardForm.cardPicUrl" label="上传图片" />
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item size="large">
            <el-button type="primary" @click="submitCardForm">提交</el-button>
            <el-button @click="resetForm">重置</el-button>
          </el-form-item>
        </el-col>
      </el-form>
    </el-row>
  </div>
</template>
<script>
import { addCard, selectCityDropdownList } from "@/api/card";
import Upload from "@/components/Upload/SingleImage";
import { quillEditor } from "vue-quill-editor";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
export default {
  components: {
    quillEditor,
    Upload,
  },
  props: [],
  data() {
    return {
      editorOption: {
        placeholder: "请输入卡片详情描述...",
        modules: {
          toolbar: [],
        },
      },
      cardForm: {
        cardTitle: "",
        cityType: "",
        cardContent: "",
        cardLink: "",
      },
      rules: {
        cardTitle: [
          {
            //   required: true,
            //   message: '请输入卡片名称',
            //   trigger: 'blur'
          },
        ],
        cityType: [
          {
            required: true,
            message: "请选择卡片城市",
            trigger: "change",
          },
        ],
        cardContent: [
          {
            //   required: true,
            //   message: '请输入卡片描述',
            //   trigger: 'blur'
          },
        ],
        cardLink: [
          {
            //   required: true,
            //   message: '请输入卡片链接',
            //   trigger: 'blur'
          },
        ],
        cardPicUrl: [
          {
            required: true,
            message: "请选择卡片图片",
            trigger: "change",
          },
        ],
      },
      // 城市数据
      cityTypeOptions: [],
    };
  },
  computed: {},
  watch: {},
  created() {
    this.getCityTypeOptions();
  },
  mounted() {},
  methods: {
    resetForm() {
      this.$refs["cardForm"].resetFields();
    },
    getCityTypeOptions() {
      selectCityDropdownList().then((res) => {
        this.cityTypeOptions = res.data;
      });
    },
    /** 提交按钮 */
    submitCardForm: function () {
      this.$refs["cardForm"].validate((valid) => {
        if (valid) {
          addCard(this.cardForm).then((response) => {
            if (response === 1) {
              this.msgSuccess("新增卡片成功。");
              // resetForm();
              this.$refs["cardForm"].resetFields();
            }
          });
        }
      });
    },
  },
};
</script>
<style>
.edit_container {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.ql-editor {
  height: 200px;
}
</style>
