<template>
  <div class="app-container">
    <el-row :gutter="15" v-loading="loading">
      <el-form
        ref="routeForm"
        :model="routeFormData"
        :rules="rules"
        size="medium"
        label-width="100px"
        class="form-container"
      >
        <el-col :span="24" hidden>
          <el-form-item
            prop="routePicUrl"
            style="margin-bottom: 30px"
            label="封面图片"
          >
            不是路线的图片，image
            <Upload v-model="routeFormData.routePicUrl" label="上传图片" />
          </el-form-item>
        </el-col>

        <el-col :span="24">
          <el-form-item label="上传 GPX" prop="uploadFile">
            <el-upload
              v-model="routeFormData.gpxUrl"
              ref="uploadFile"
              :file-list="uploadFilefileList"
              :action="uploadFileAction"
              :before-upload="uploadFileBeforeUpload"
              :http-request="uploadQiNiu"
            >
              <el-button size="small" type="primary" icon="el-icon-upload"
                >点击上传</el-button
              >
              <div slot="tip" class="el-upload__tip">
                只能上传不超过 10MB 的文件
              </div>
            </el-upload>
          </el-form-item>
        </el-col>

        <el-col :span="24">
          <el-form-item label="路线名称" prop="routeName">
            <el-input
              v-model="routeFormData.routeName"
              placeholder="请输入路线名称"
              clearable
              prefix-icon="el-icon-bicycle"
              :style="{ width: '100%' }"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item
            prop="routeDescription"
            style="margin-bottom: 30px"
            label="路线描述"
          >
            <quill-editor
              ref="text"
              v-model="routeFormData.routeDescription"
              class="myQuillEditor"
              :options="editorOption"
            />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="路线提供者" prop="routeProvider">
            <el-input
              v-model="routeFormData.routeProvider"
              placeholder="请输入路线提供者"
              clearable
              prefix-icon="el-icon-bicycle"
              :style="{ width: '100%' }"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="路线地区" prop="routeDistrict">
            <el-input
              v-model="routeFormData.routeDistrict"
              placeholder="请输入路线地区"
              clearable
              prefix-icon="el-icon-bicycle"
              :style="{ width: '100%' }"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="路线爬升" prop="climb">
            <el-input-number
              v-model="routeFormData.climb"
              placeholder="请输入路线爬升"
              controls-position="right"
            ></el-input-number>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="路线距离" prop="distance">
            <el-input-number
              v-model="routeFormData.distance"
              placeholder="请输入路线距离"
              controls-position="right"
            ></el-input-number>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="路线城市" prop="cityType">
            <el-select
              v-model="routeFormData.cityType"
              placeholder="请选择路线城市"
              clearable
              :style="{ width: '100%' }"
            >
              <el-option
                v-for="(item, index) in cityTypeOptions"
                :key="index"
                :label="item.cityNameCH"
                :value="item.cityId"
                :disabled="item.disabled"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="路线类型" prop="routeType">
            <el-select
              v-model="routeFormData.routeType"
              placeholder="请选择路线类型"
              clearable
              :style="{ width: '100%' }"
            >
              <el-option
                v-for="(item, index) in routeTypeOptions"
                :key="index"
                :label="item.label"
                :value="item.value"
                :disabled="item.disabled"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="路线地形" prop="routeTerrain">
            <el-select
              v-model="routeFormData.routeTerrain"
              placeholder="请选择路线地形"
              clearable
              :style="{ width: '100%' }"
            >
              <el-option
                v-for="(item, index) in routeTerrainOptions"
                :key="index"
                :label="item.label"
                :value="item.value"
                :disabled="item.disabled"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="24">
          <el-form-item size="large">
            <el-button type="primary" @click="submitForm">提交</el-button>
            <el-button @click="resetForm">重置</el-button>
          </el-form-item>
        </el-col>
      </el-form>
    </el-row>
  </div>
</template>
<script>
import {
  insertOneRoute,
  insertOneRouteDetail,
  selectCityDropdownList,
} from "@/api/route";
import Upload from "@/components/Upload/SingleImage";
import { quillEditor } from "vue-quill-editor";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import { getToken, uploadFile } from "@/api/qiniu";
export default {
  components: {
    quillEditor,
    Upload,
  },
  props: [],
  data() {
    return {
      // 遮罩层
      loading: false,
      uploadFile: null,
      uploadFileName: "",
      uploadToken: "",
      tempUrl: "",
      dataObj: { token: "" },
      uploadFileAction: "https://upload-z2.qiniup.com",
      uploadFilefileList: [],
      content: "",
      editorOption: {
        placeholder: "请输入路线详情描述...",
        modules: {
          toolbar: [],
        },
      },
      routeFormData: {
        routePicUrl: "",
        routeName: "",
        routeDescription: "",
        climb: undefined,
        distance: undefined,
        cityType: "",
        routeType: "",
        routeTerrain: "",
      },
      rules: {
        routePicUrl: [],
        routeName: [
          {
            required: true,
            message: "请输入路线名称",
            trigger: "blur",
          },
        ],
        routeDescription: [
          {
            required: true,
            message: "请输入路线描述",
            trigger: "blur",
          },
        ],
        routeDistrict: [
          {
            required: true,
            message: "请输入路线地区",
            trigger: "blur",
          },
        ],
        climb: [
          {
            required: true,
            message: "请输入路线爬升",
            trigger: "blur",
          },
          {
            pattern: /^[0-9]+([.]{1}[0-9]+){0,1}$/,
            message: "请输入整数或小数数字",
            trigger: "blur",
          },
        ],
        distance: [
          {
            required: true,
            message: "请输入路线距离",
            trigger: "blur",
          },
          {
            pattern: /^[0-9]+([.]{1}[0-9]+){0,1}$/,
            message: "请输入整数或小数数字",
            trigger: "blur",
          },
        ],
        cityType: [
          {
            required: true,
            message: "请选择路线城市",
            trigger: "change",
          },
        ],
        routeType: [
          {
            required: true,
            message: "请选择路线类型",
            trigger: "change",
          },
        ],
        routeTerrain: [
          {
            required: true,
            message: "请选择路线地形",
            trigger: "change",
          },
        ],
      },
      cityTypeOptions: [],
      routeTypeOptions: [
        {
          label: "绕圈",
          value: 1,
        },
        {
          label: "休闲",
          value: 2,
        },
        {
          label: "进阶",
          value: 3,
        },
        {
          label: "高阶",
          value: 4,
        },
        {
          label: "挑战",
          value: 5,
        },
      ],
      routeTerrainOptions: [
        {
          label: "平路",
          value: 1,
        },
        {
          label: "起伏",
          value: 2,
        },
        {
          label: "爬坡",
          value: 3,
        },
      ],
    };
  },
  computed: {},
  watch: {},
  created() {
    this.getCityType();
  },
  mounted() {},
  methods: {
    // 上传七牛云前的校验。
    uploadFileBeforeUpload(file) {
      let isRightSize = file.size / 1024 / 1024 < 10;
      if (!isRightSize) {
        this.$message.error("文件大小超过 10MB");
      }

      const _self = this;
      return new Promise((resolve, reject) => {
        getToken()
          .then((response) => {
            console.log(response);
            const token = response.data.token;
            console.log("token is: " + token);
            _self.dataObj.token = token;
            this.tempUrl = "https://images.club100.cn/" + response.key;
            resolve(true);
            this.uploadFile = file;
            this.uploadToken = token;
          })
          .catch((err) => {
            console.log(err);
            reject(false);
          });
      });
      return isRightSize;
      // return isRightSize && isAccept;
    },
    // 上传文件到七牛云。
    uploadQiNiu(req) {
      var randomFileName =
        this.getRandomValue() + "." + this.getFileSuffix(this.uploadFile.name);

      const formdata = new FormData();
      formdata.append("file", this.uploadFile);
      formdata.append("token", this.uploadToken);
      formdata.append("key", randomFileName);

      // 获取到凭证之后再将文件上传到七牛云空间。
      uploadFile(formdata)
        .then((response) => {
          var tempArray = [];
          tempArray.push("https://images.club100.cn/" + randomFileName);
          this.routeFormData.gpxUrl =
            "https://images.club100.cn/" + randomFileName;
        })
        .catch((err) => {
          console.log(err);
        });
        this.msgSuccess("GPX 文件上传成功。");
    },
    getRandomValue() {
      var mydate = new Date();
      var uuid =
        mydate.getDay() +
        mydate.getHours() +
        mydate.getMinutes() +
        mydate.getSeconds() +
        mydate.getMilliseconds() +
        Math.round(Math.random() * 10000);
      var randomNumbers1 = (((1 + Math.random()) * 0x10000) | 0)
        .toString(16)
        .substring(1);
      var randomNumbers2 = (((1 + Math.random()) * 0x10000) | 0)
        .toString(16)
        .substring(1);
      var randomNumbers3 = (((1 + Math.random()) * 0x10000) | 0)
        .toString(16)
        .substring(1);
      return (
        uuid +
        "_" +
        randomNumbers1 +
        "_" +
        randomNumbers2 +
        "_" +
        randomNumbers3
      );
    },
    getFileSuffix(filePathOrName) {
      // 传入的参数为文件路径或者文件名。
      // 获取最后一个.的位置。
      var index = filePathOrName.lastIndexOf(".");
      // 获取文件路径或者文件名的后缀。
      var fileSuffix = filePathOrName.substr(index + 1);
      return fileSuffix;
    },
    submitForm() {
      this.$refs["routeForm"].validate((valid) => {
        if (valid) {
          this.loading = true;
          insertOneRoute(this.routeFormData).then((res) => {
            if (res != undefined) {
              insertOneRouteDetail(this.routeFormData).then((res) => {
                if (res === 1) {
                  this.$notify({
                    title: "成功",
                    message: "路线添加成功",
                    type: "success",
                    duration: 2000,
                  });
                  this.resetForm();
                  this.uploadFilefileList = [];
                }
              });
            }
          });
          setTimeout(() => {
            this.loading = false;
          }, 1500);
        } else {
          console.log("提交失败！");
          return false;
        }
      });
    },
    resetForm() {
      this.$refs["routeForm"].resetFields();
      this.uploadFilefileList = [];
    },
    getCityType() {
      selectCityDropdownList().then((res) => {
        this.cityTypeOptions = res.data;
      });
    },
  },
};
</script>
<style>
.edit_container {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.ql-editor {
  height: 200px;
}
</style>
