<template>
  <div class="app-container">
    <el-row :gutter="15">
      <el-form
        ref="routeForm"
        :model="routeFormData"
        :rules="rules"
        size="medium"
        label-width="100px"
        class="form-container"
      >
        <el-col :span="24" hidden>
          <el-form-item
            prop="routePicUrl"
            style="margin-bottom: 30px"
            label="封面图片"
          >
            不是路线的图片，image
            <Upload v-model="routeFormData.routePicUrl" label="上传图片" />
          </el-form-item>
        </el-col>

        <el-col :span="24">
          <el-form-item
            prop="gpxUrl"
            style="margin-bottom: 30px"
            label="GPX 文件"
          >
            GPX 文件
            <Upload v-model="routeFormData.gpxUrl" label="上传 GPX" />
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item label="路线名称" prop="routeName">
            <el-input
              v-model="routeFormData.routeName"
              placeholder="请输入路线名称"
              clearable
              prefix-icon="el-icon-bicycle"
              :style="{ width: '100%' }"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item
            prop="routeDescription"
            style="margin-bottom: 30px"
            label="路线描述"
          >
            <quill-editor
              ref="text"
              v-model="routeFormData.routeDescription"
              class="myQuillEditor"
              :options="editorOption"
            />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="路线提供者" prop="routeProvider">
            <el-input
              v-model="routeFormData.routeProvider"
              placeholder="请输入路线提供者"
              clearable
              prefix-icon="el-icon-bicycle"
              :style="{ width: '100%' }"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="路线地区" prop="routeDistrict">
            <el-input
              v-model="routeFormData.routeDistrict"
              placeholder="请输入路线地区"
              clearable
              prefix-icon="el-icon-bicycle"
              :style="{ width: '100%' }"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="路线爬升" prop="climb">
            <el-input-number
              v-model="routeFormData.climb"
              placeholder="请输入路线爬升"
              controls-position="right"
            ></el-input-number>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="路线距离" prop="distance">
            <el-input-number
              v-model="routeFormData.distance"
              placeholder="请输入路线距离"
              controls-position="right"
            ></el-input-number>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="路线城市" prop="cityType">
            <el-select
              v-model="routeFormData.cityType"
              placeholder="请选择路线城市"
              clearable
              :style="{ width: '100%' }"
            >
              <el-option
                v-for="(item, index) in cityTypeOptions"
                :key="index"
                :label="item.cityNameCH"
                :value="item.cityId"
                :disabled="item.disabled"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="路线类型" prop="routeType">
            <el-select
              v-model="routeFormData.routeType"
              placeholder="请选择路线类型"
              clearable
              :style="{ width: '100%' }"
            >
              <el-option
                v-for="(item, index) in routeTypeOptions"
                :key="index"
                :label="item.label"
                :value="item.value"
                :disabled="item.disabled"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="路线地形" prop="routeTerrain">
            <el-select
              v-model="routeFormData.routeTerrain"
              placeholder="请选择路线地形"
              clearable
              :style="{ width: '100%' }"
            >
              <el-option
                v-for="(item, index) in routeTerrainOptions"
                :key="index"
                :label="item.label"
                :value="item.value"
                :disabled="item.disabled"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item size="large">
            <el-button type="primary" @click="submitForm">提交</el-button>
            <el-button @click="resetForm">重置</el-button>
          </el-form-item>
        </el-col>
      </el-form>
    </el-row>
  </div>
</template>
<script>
import {
  insertOneRoute,
  insertOneRouteDetail,
  selectCityDropdownList,
} from "@/api/route";
import Upload from "@/components/Upload/SingleImage";
import { quillEditor } from "vue-quill-editor";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
export default {
  components: {
    quillEditor,
    Upload,
  },
  props: [],
  data() {
    return {
      content: "",
      editorOption: {
        placeholder: "请输入路线详情描述...",
        modules: {
          toolbar: [],
        },
      },
      routeFormData: {
        routePicUrl: "",
        routeName: "",
        routeDescription: "",
        climb: undefined,
        distance: undefined,
        cityType: "",
        routeType: "",
        routeTerrain: "",
      },
      rules: {
        routePicUrl: [],
        routeName: [
          {
            required: true,
            message: "请输入路线名称",
            trigger: "blur",
          },
        ],
        routeDescription: [
          {
            required: true,
            message: "请输入路线描述",
            trigger: "blur",
          },
        ],
        routeDistrict: [
          {
            required: true,
            message: "请输入路线地区",
            trigger: "blur",
          },
        ],
        climb: [
          {
            required: true,
            message: "请输入路线爬升",
            trigger: "blur",
          },
          {
            pattern: /^[0-9]+([.]{1}[0-9]+){0,1}$/,
            message: "请输入整数或小数数字",
            trigger: "blur",
          },
        ],
        distance: [
          {
            required: true,
            message: "请输入路线距离",
            trigger: "blur",
          },
          {
            pattern: /^[0-9]+([.]{1}[0-9]+){0,1}$/,
            message: "请输入整数或小数数字",
            trigger: "blur",
          },
        ],
        cityType: [
          {
            required: true,
            message: "请选择路线城市",
            trigger: "change",
          },
        ],
        routeType: [
          {
            required: true,
            message: "请选择路线类型",
            trigger: "change",
          },
        ],
        routeTerrain: [
          {
            required: true,
            message: "请选择路线地形",
            trigger: "change",
          },
        ],
      },
      cityTypeOptions: [],
      routeTypeOptions: [
        {
          label: "绕圈",
          value: 1,
        },
        {
          label: "休闲",
          value: 2,
        },
        {
          label: "进阶",
          value: 3,
        },
        {
          label: "高阶",
          value: 4,
        },
        {
          label: "挑战",
          value: 5,
        },
      ],
      routeTerrainOptions: [
        {
          label: "平路",
          value: 1,
        },
        {
          label: "起伏",
          value: 2,
        },
        {
          label: "爬坡",
          value: 3,
        },
      ],
    };
  },
  computed: {},
  watch: {},
  created() {
    this.getCityType();
  },
  mounted() {},
  methods: {
    submitForm() {
      this.$refs["routeForm"].validate((valid) => {
        if (valid) {
          insertOneRoute(this.routeFormData).then((res) => {
            if (res != undefined) {
              this.loading = true;
              insertOneRouteDetail(this.routeFormData).then((res) => {
                if (res === 1) {
                  this.$notify({
                    title: "成功",
                    message: "路线添加成功",
                    type: "success",
                    duration: 2000,
                  });
                  this.loading = false;
                  this.resetForm();
                }
              });
            }
          });
        } else {
          console.log("提交失败！");
          return false;
        }
      });
    },
    resetForm() {
      this.$refs["routeForm"].resetFields();
    },
    getCityType() {
      selectCityDropdownList().then((res) => {
        this.cityTypeOptions = res.data;
      });
    },
  },
};
</script>
<style>
.edit_container {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.ql-editor {
  height: 200px;
}
</style>
